
@mixin transition($values...) {
   transition: $values;
      -webkit-transition: $values;
      -moz-transition: $values;
      -ms-transition: $values;
      -o-transition: $values;
}

@mixin transform($values) {
   transform: $values;
      -webkit-transform: $values;
      -moz-transform: $values;
      -ms-transform: $values;
      -o-transform: $values;
}

@mixin font-feature-settings($values...) {
   font-feature-settings: $values;
      -webkit-font-feature-settings: 'liga', 'onum', 'pnum', 'kern';
      -moz-font-feature-settings: 'liga', 'onum', 'pnum', 'kern';
      -ms-font-feature-settings: 'liga', 'onum', 'pnum', 'kern';
      -o-font-feature-settings: 'liga', 'onum', 'pnum', 'kern';
}

// Bezier curves
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
