@import "mixins";
@import "reset";
@import "fonts";
@import "base";

// General default styles
html {
   font-size: 125%;  /* -> 18px, using percentage to allow IE user stylesheet changes */
   font-family: $serif;
   color: $dark_gray;
   background: $white;
   line-height: $line_height;
}

body {
   line-height: $line_height;
}

a, a:visited {
   color: $light_blue;
   text-decoration: none;
   border-bottom: 1px solid transparent;

   @include transition(border 0.224s $easeInOutCubic, color 0.224s $easeInOutCubic);

   &:hover, &:active {
      color: $dark_blue;
      border-bottom: 1px solid $dark_gray;

      @include transition(border 0.465s $easeInOutCubic, color 0.465s $easeInOutCubic);
   }
}

img {
   max-height: 100%;
   max-width: 100%;
}

p, ul, ol, li, blockquote {
   font-size: $fsp;
}

p {
   text-indent: $fs4;
}

ul, ol {
   margin-left: $fsp;
   padding-left: $fsp;

   p {
      text-indent: 0;
   }
}

ul {
   list-style: circle;
}

ol {
   list-style: decimal;
}

h1, h2, h3, h4 {
   font-family: $sans;
}

h1 {
   font-size: $fs1;
}

h2 {
   font-size: $fs2;
}

h3 {
   font-size: $fs3;
}

h4 {
   font-size: $fs4;
}

h5 {
   font-size: $fs5;
}

h6 {
   font-size: $fs6;
   display: inline-block;
   padding-right: 1em;
}

pre, code {
   font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

sup {
   line-height: 0;  // Fixes vertical alignment issues
   vertical-align: super;
   font-size: $fs_small;
}

// Special styles
.proper-name {
   white-space: nowrap;
}

.poetry {
   white-space: pre-line;
}

// Layout
article {
   width: 30.814rem;
   margin-left: 15.6%;

   p {
      @include font-feature-settings('liga', 'onum', 'pnum', 'kern');
   }
}

#site-title {

}

#site-subtitle {
   font-family: $serif;
   font-style: italic;
   @include font-feature-settings('liga');
}

.section-title {
   text-transform: capitalize;
}
