@import "mixins";
@import "reset";
@import "fonts";
@import "base";

// General default styles
html {
   font-size: 125%;  /* -> 18px, using percentage to allow IE user stylesheet changes */
   font-family: $serif;
   color: $dark_gray;
   background: $white;
   line-height: $line_height;
}

body {
   line-height: $line_height;
}

a, a:visited {
   color: $light_blue;
   text-decoration: none;
   border-bottom: 1px solid transparent;

   @include transition(border 0.224s $easeInOutCubic, color 0.224s $easeInOutCubic);

   &:hover, &:active {
      color: $dark_blue;
      border-bottom: 1px solid $dark_gray;

      @include transition(border 0.465s $easeInOutCubic, color 0.465s $easeInOutCubic);
   }
}

img {
   max-height: 100%;
   max-width: 100%;
}

p, ul, ol, li, blockquote {
   font-size: $fsp;
}

// Paragraph styles
p {
   text-indent: $fs4;
}

h1, h2, h3, h4, h5, h6, ul, ol {
   + p {
      text-indent: 0;
   }
}

p:first-child, p:first-of-type {
   text-indent: 0;
}

ul {
   list-style: circle;
}

ol {
   list-style: decimal;
}

h1, h2, h3, h4, h5, h6 {
   font-family: $sans;
   line-height: 1;
}

h1 {
   font-size: $fs1;

   + h2 {

   }
}

h2 {
   font-size: $fs2;

   + h3 {

   }
}

h3 {
   font-size: $fs3;

   + h4 {

   }
}

h4 {
   font-size: $fs4;

   + h5 {

   }
}

h5 {
   padding-top: $fsp;
   font: {
      style: italic;
      size: $fs5
   };

   + h6 {
      padding-top: 0;
   }
}

h6 {
   font: {
      weight: 600;
      size: $fs6;
   }

   display: inline-block;
   padding: {
      top: $fs3;
      right: $fs_very_small;
   };

   + p {
      display: inline;
   }
}

pre, code {
   font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

sup {
   line-height: 0;  // Fixes vertical alignment issues
   vertical-align: super;
   font-size: $fs_small;
}

em, i, cite {
   font-style: italic;
}

strong {
   font-weight: bold;
}

// Special styles
.proper-name {
   white-space: nowrap;
}

.poetry {
   white-space: pre-line;
}

.smcp {
   font-family: 'gentium_plus_smcp';
}

// ----- Layout -----
body:before {
   height: $fs_very_small;
   background-color: $dark_blue;
   display: block;
   content: '';
}

// Header
#site-header {
   margin: {
      top: $fs3;
      left: $fs_large;
   }

   a, a:hover, a:active, a:visited {
      border-bottom: none;
   }
}

#site-title {
   font-size: $fs_very_large;
}

#site-subtitle {
   font-size: $fs4;
   margin-left: $fs4;
}

#site-subtitle {
   font-family: $serif;
   font-style: italic;
   @include font-feature-settings('liga');
}

.section-title {
   text-transform: capitalize;
}

// Article
article {
   padding: {
      bottom: $fs2;
   };
   clear: both;
   overflow: hidden;

   width: 30.814rem;
   margin-left: 15.6%;

   header {
      h1 {
         font-weight: 600;
      }
   }

   @mixin pre-content-p {
      padding-bottom: $fsp;
      text-indent: 0;
      line-height: $line_height_small;
   }

   .context {
      font-style: italic;
      padding-bottom: $fsp;
      @include pre-content-p();
   }

   .intro {
      font-size: $fs4;
      text-align: center;
      @include pre-content-p();
   }

   .content {

      @mixin first-line() {
         font-family: 'gentium_plus_smcp';
         @include font-feature-settings('smcp');
      }

      > p:first-of-type {
         &:first-line {
            @include first-line();
         }
      }

      h1 {
         padding-top: $fsp;
         padding-bottom: 0.323em;
         text-align: center;

         &:before {
            content: '\00A7';
            display: inline-block;
            padding-right: 0.244em;
            color: lighten($light_gray, 39.1%);
         }

         &:first-of-type {
            padding-top: 0.244em;

            &:before {
               content: none;
            }
         }

         + p:first-line, + h2 + p:first-line {
            @include first-line();
         }
      }

      h2 {
         color: $dark_blue;
         border-bottom: 1px solid lighten($light_gray, 39.1%);
         text-align: center;
         font-weight: bold;
         padding-top: $fs_very_small;
         margin-bottom: 0.323em;
      }

      p {
         @include hyphens(auto);

         &:first-of-type:first-line {
            @include hyphens(none);
         }
      }
   }

   .meta {
      color: $light_gray;
      padding-bottom: $fsp_abs;
      font: {
         size: $fs_small;
         family: $sans;
      }

      span {
         display: inline-block;

         a {
            display: inline-block;
         }

         &:before {
            display: inline-block;
            padding: {
               left: 0.25rem;
               right: 0.25rem;
            }
            content: '\00A7';
            color: lighten($light_gray, 24.4%);
         }

         &:first-of-type:before {
            content: none;
         }
      }

      .hashtag a {
         margin: {
            left: 0.13em;
            right: 0.13em
         };
         &:first-of-type {
            margin-left: 0;
         }
      }
   }

   p {
      @include font-feature-settings('liga', 'onum', 'pnum', 'kern');
   }

   ul, ol {
      padding-left: $fs4;

      li {
         padding-top: 0.5em;
         padding-bottom: 0.5em;
      }
   }

   .footnote {
      padding-top: 0.5rem;
      font-size: $fs_small;

      hr {
         margin: {
            top: $fsp;
            bottom: $fsp;
            left: 0;
         }
         border-top: 1px solid;
         height: 0;
         width: 46.5%;
      }
   }

   &.archive {
      width: auto;
      margin-right: 15.6%;
      header h1 {
         font-weight: 400;
      }
   }
}

sup[id^="fnref:"] a {
   @include font-feature-settings('lnum', 'tnum');

   &:before {
      content: "[";
   }

   &:after {
      content: "]";
   }
}

// Footer
#site-footer {
   margin-top: $fs_large;
   background-color: $dark_blue;
   min-height: $fs_very_large;
   color: $white;
   @include flexbox();

   section {
      border-top: 0.244rem solid $dark_gray;

      @include flex(1 0);
   }

   h1 {
      background: $light_blue;
      font-size: $fs2;
      padding-left: $fsp;
   }
}

@import "media";
