@import "mixins";
@import "reset";
@import "fonts";
@import "base";

html {
   font-size: 118.75%;  /* -> 18px, using percentage to allow IE user stylesheet changes */
   font-family: $serif;
   color: $dark_gray;
   background: $white;
   line-height: $line_height;
}

a, a:visited {
   color: $light_blue;
   text-decoration: none;
   border-bottom: 1px solid transparent;

   @include transition(all 0.5s $easeInOutCubic);

   &:hover, &:active {
      color: $dark_blue;
      border-bottom: 1px solid $dark_gray;
   }
}

img {
   max-height: 100%;
   max-width: 100%;
}

p, ul, ol, li, blockquote {
   font-size: $fsp;
}

h1, h2, h3, h4 {
   font-family: $sans;
}

h1 {
   font-size: $fs1;
}

h2 {
   font-size: $fs2;
}

h3 {
   font-size: $fs3;
}

h4 {
   font-size: $fs4;
}

h5 {
   font-size: $fs5;
}

h6 {
   font-size: $fs6;
   display: inline-block;
   padding-right: 1em;
}
