@import "./config";
@import "./syntax-highlighting/a11y-light";
@import "./syntax-highlighting/tomorrow-night-bright";

.hljs {
   display: block;
   overflow-x: auto;
   background: var(--code-background);
   color: var(--code-foreground);
}

@mixin light {
   // Colors
   --bg: var(--gray-6);
   --fg: var(--gray-0);
   --link: var(--blue-1);
   --underline: var(--gray-4);
   --hover: var(--blue-0);
   --hover-underline: var(--blue-2);
   --code-outline: var(--gray-4);
   --code-background: var(--gray-5);
   --code-foreground: var(--gray-0);

   @include a11y-light();
}

@mixin dark {
   // Colors
   --bg: var(--gray-0);
   --fg: var(--gray-4);
   --link: var(--blue-4);
   --underline: var(--gray-4);
   --hover: var(--gray-6);
   --hover-underline: var(--blue-2);
   --code-outline: var(--gray-2);
   --code-background: var(--gray-1);
   --code-foreground: var(--gray-6);

   @include tomorrow-night-bright();

   code, pre code {
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: grayscale;
   }
}

// Default to light unless the user explicitly specifies they prefer dark.
:root,
.light:root {
   @include light();
}

.dark:root {
   @include dark();
}

@media screen {
   @media (prefers-color-scheme: light) {
      :root {
         @include light();
      }
   
      .dark:root {
         @include dark();
      }
   }
   
   @media (prefers-color-scheme: dark) {
      :root {
         @include dark();
      }
   
      .light:root {
         @include light();
      }
   }
}
