@import "./config";

@mixin light {
   // Sizes and rhythm:
   --fs-base: 16px;

   // Colors
   --bg: var(--gray-5);
   --fg: var(--gray-0);
   --link: var(--blue-1);
   --underline: var(--gray-4);
   --hover: var(--blue-0);
   --hover-underline: var(--blue-2);
   --code-outline: var(--gray-4);
}

@mixin dark {
   // Sizes and rhythm:
   --fs-base: 17px;

   // Colors
   --bg: var(--gray-0);
   --fg: var(--gray-4);
   --link: var(--blue-4);
   --underline: var(--gray-4);
   --hover: var(--gray-5);
   --hover-underline: var(--blue-2);
   --code-outline: var(--gray-2);
}

@mixin light-large {
   --fs-base: 19px;
}

@mixin dark-large {
   --fs-base: 20px;
}

// Default to light unless the user explicitly specifies they prefer dark.
:root,
.light:root {
   @include light();
}

.dark:root {
   @include dark();
}

@media (prefers-color-scheme: light) {
   :root {
      @include light();
   }

   .dark:root {
      @include dark();
   }
}

@media (prefers-color-scheme: dark) {
   :root {
      @include dark();
   }

   .light:root {
      @include light();
   }
}

@media screen and (min-width: $break-2) {
   :root,
   .light:root {
      @include light-large();
   }

   .dark:root {
      @include dark-large();
   }

   @media (prefers-color-scheme: light) {
      :root,
      .light:root {
         @include light-large();
      }

      .dark:root {
         @include dark-large();
      }
   }

   @media (prefers-color-scheme: dark) {
      :root {
         @include dark-large();
      }

      .light:root {
         @include light-large();
      }
   }
}
