@import './_vendor/modularscale';
@import './fonts';

* {
   box-sizing: border-box;
}

// https://www.modularscale.com/?1,4&em&1.333
$modularscale: (
  base: 1em 4em,
  ratio: 1.333
);

$break-0: 520px;
$break-1: 660px;
$break-2: 768px;
$break-3: 960px;
$break-4: 1280px;

:root {
   // -- Typography -- //
   // Font stacks
   --serif: Sabon, Adobe Garamond Pro, Garamond, serif;
   --sans: Cronos, Century Gothic, sans-serif;
   --mono: Hack, Menlo;

   // Sizes and rhythm:
   --fs-base: 19px;

   // -- Colors -- //
   --off-white: hsl(222, 10%, 99%);
   --dark-gray: hsl(222, 10%, 15%);
   --light-gray: hsl(222, 10%, 70%);

   --pale-blue: hsl(208, 85%, 71%);
   --light-blue: hsl(208, 85%, 45%);
   --medium-blue: hsl(208, 85%, 33%);
   --dark-blue: hsl(208, 85%, 18%);

   // Basic use of colors (default)
   --bg: var(--off-white);
   --fg: var(--dark-gray);
   --link: var(--medium-blue);
   --hover: var(--light-blue);

   --transition: 0.25s ease-out;
}

@media screen {
   @media (prefers-reduced-motion: reduce) {
      --transition: 0s;
   }
}

@media (prefers-color-scheme: dark) {
   :root {
      --fs-base: 20px;

      --bg: var(--dark-gray);
      --fg: var(--off-white);
      --link: var(--pale-blue);
      --hover: var(--light-blue);
   }
}

@media screen and (max-width: $break-2) {
   :root {
      --fs-base: 16px;
   }

   @media (prefers-color-scheme: dark) {
      :root {
         --fs-base: 17px;
      }
   }
}

html {
   font: var(--fs-base)/ms(2) var(--serif);
}
