a {
   color: var(--link);
   transition: color var(--transition);

   &:hover, &:active {
      color: var(--hover);
   }
}

abbr {
   font-family: var(--serif-smcp);
   text-transform: lowercase;
   letter-spacing: 0.2pt;
}