html {
   background: var(--gray-1);
}

body {
   color: var(--fg);
   background-color: var(--bg);
   padding: 0;
   margin: {
      top: ms(-2);
      right: 0;
      bottom: 0;
      left: 0;
   }
   box-shadow: 0 0 ms(0) var(--gray-0);

   display: grid;
   grid: {
      column-gap: 1%;
      row-gap: ms(2);
      template-areas:
         "h"
         "m"
         "n";
   }
   align-items: start;

   header {
      grid-area: h;
   }

   nav {
      grid-area: n;
      box-shadow: inset 0 ms(-4) ms(0) -#{ms(-4)} var(--gray-0);
   }

   main {
      grid-area: m;
      max-width: 100vw;
      padding: {
         left: ms(-2);
         right: ms(-2);
      }
   }
}

@media screen {
   @media (min-width: $reflow) and (min-height: 540px) {
      body {
         margin: {
            top: 0;
            left: ms(-2);
         }
         grid-template:
            "h h n" auto
            "m m n" auto / 1fr 1fr minmax(max-content, 25vw);

         nav {
            min-height: 100%;
            box-shadow: inset ms(-4) 0 1rem -#{ms(-4)} var(--gray-0);
         }
      }
   }
}
