html {
   background: var(--gray-1);
}

body {
   color: var(--fg);
   background-color: var(--bg);
   padding: 0;
   margin: {
      top: 0.5rem;
      right: 0;
      bottom: 0;
      left: 0;
   }
   box-shadow: 0 0 1rem var(--gray-0);

   display: grid;
   grid: {
      column-gap: 1%;
      row-gap: ms(2);
      template-areas:
         "h"
         "m"
         "n";
   }
   align-content: start;
   align-items: start;

   header {
      grid-area: h;
   }

   nav {
      grid-area: n;
      box-shadow: inset 0 0.4rem 1rem -0.4rem var(--gray-0);
   }

   main {
      grid-area: m;
   }
}

@media screen {
   @media (min-width: $reflow) {
      body {
         margin: {
            top: 0;
            left: 0.5rem;
         }
         grid-template:
            "h h n" auto
            "m m n" auto / 1fr 1fr minmax(max-content, 20%);

         nav {
            min-height: 100%;
            box-shadow: inset 0.4rem 0 1rem -0.4rem var(--gray-0);
         }
      }
   }
}
