html {
   background: var(--gray-1);
}

body {
   padding: 0;
   background-color: var(--gray-1);
}

main {
   margin: {
      top: ms(-3);
      right: 0;
      bottom: 0;
      left: 0;
   }
}

@media screen {
   @media (min-width: $reflow) and (min-height: 540px) {
      main {
         margin: {
            top: 0;
            left: ms(-2);
         }
         padding-right: ms(-2);
         max-width: calc(75vw - #{ms(-2)};
      }

      nav {
         width: 100%;
         max-width: 25vw;
         height: 100vh;
         position: fixed;
         top: 0;
         right: 0;
         bottom: 0;
      }
   }
}
