@mixin fancy-link-text {
   position: relative;
   z-index: 1;
   text-shadow:
      1px 0 0 var(--bg),
      0 1px 0 var(--bg),
      -1px 0 0 var(--bg),
      0 -1px 0 var(--bg);
      ;
}

@mixin fancy-link-after($height: 1px, $bottom: 0) {
   &:after {
      content: "";
      background-color: var(--underline);
      position: absolute;
      bottom: $bottom;
      left: 0;
      right: 0;
      height: $height;
      z-index: -1;
   
      transition: -webkit-clip-path var(--transition), clip-path var(--transition);
   
      -webkit-clip-path: polygon(100% 0px, 100% 0px, 100% 100%, 100% 100%);
      -moz-clip-path: polygon(100% 0px, 100% 0px, 100% 100%, 100% 100%);
      -ms-clip-path: polygon(100% 0px, 100% 0px, 100% 100%, 100% 100%);
      clip-path: polygon(100% 0px, 100% 0px, 100% 100%, 100% 100%);
   }
}

@mixin fancy-link-after-hover {
   &:after {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      -moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      -ms-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);   
   }
}

@mixin fancy-link($height: 1px, $bottom: 0) {
   @include fancy-link-text;
   @include fancy-link-after($height, $bottom);

   &:hover, &:active {
      @include fancy-link-after-hover;
   }
}