<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@chriskrycho" />
<meta name="twitter:creator" content="@chriskrycho" />
{% if item is defined %}
   <meta name="twitter:title" content="{{ item.title }}" />
   {% if item.description is defined %}
      <meta name="twitter:description" content="{{ item.description }}" />
   {% else %}
      <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}" />
   {% endif %}
   {% if item.image is defined %}
      <meta name="twitter:image" content="{{ item.image }}" />
   {% else %}
      <meta name="twitter:image" content="{{ SITEURL }}/{{ LOGO }}" />
   {% endif %}
{% else %}
   <meta name="twitter:title" content="{{ SITENAME }}" />
   <meta name="twitter:description" content="{{ SITE_DESCRIPTION }}" />
   <meta name="twitter:image" content="{{ SITEURL }}/{{ LOGO }}" />
{% endif %}
