{% extends 'item.njk' %}
{% import 'components/item.njk' as item %}

{% block header %}
{{item.header(type='post', title=title, subtitle=subtitle)}}
{% endblock header %}

{% block before_content -%}
   {% if audience -%}
      <i class='qualifiers'>
         <b><a href='https://www.chriskrycho.com/2018/assumed-audiences.html'>Assumed Audience</a>:</b>
         {{audience | inlineMd | safe}}
      </i>
   {%- endif %}
{%- endblock %}

{% block content %}
{% if book %}
<figure class='book-review'>
   <img src='{{book.cover}}' alt='cover for {{book.title}}' class='book-review__cover' />
   <figcaption class='book-review__details'>
      <section class='book-review__about'>
         <cite>{{book.title}}</cite>,
         {{book.author}} ({{book.year}})
      </section>
      <section class='book-review__summary'>
         <b>{{book.rating}}</b><br>
         {{book.review | safe}}
      </section>
   </figcaption>
</figure>
{% endif %}
{{ super() }}
{% endblock %}

{% block after_content %}
   {{item.meta(title, page.date, tags, updated, page.inputPath, thanks)}}
{% endblock %}