{% extends 'item.njk' %}
{% import 'components/item.njk' as item %}

{% block header %}
{{item.header(type='post', title=title, subtitle=subtitle)}}
{% endblock header %}

{% block before_content -%}
   {% if audience -%}
      <i class='assumed-audience'>
         <b><a href='https://www.chriskrycho.com/2018/assumed-audiences.html'>Assumed Audience</a>:</b>
         {{audience | inlineMd | safe}}
      </i>
   {%- endif %}
{%- endblock %}

{% block after_content %}
   {{item.meta(title, page.date, tags, updated, page.inputPath, thanks)}}
{% endblock %}