{% extends 'item.njk' %}
{% import 'components/item.njk' as item %}
{% from 'components/book.njk' import review %}

{% block header %}
{{item.header(type='post', title=title, subtitle=subtitle)}}
{% endblock header %}

{% block content %}
{% if draft %}
<section class='note' aria-label='note' aria-role='note'>
   <p>
      <strong><em>This item is a work in progress.</em></strong> It is subject to change
      radically at any time—up to and including being deleted entirely if I change my mind
      about it! Because it is a draft, it is not included in the site’s feeds; if you want
      to watch its progress, you will need to do that very old thing and bookmark this
      page and return to it over time until it is published.
   </p>
</section>
{% endif %}

{% if qualifiers -%}
<div class='qualifiers'>
   {% if qualifiers.audience -%}
   <p>
      <b><a href='https://v4.chriskrycho.com/2018/assumed-audiences.html'>Assumed audience</a>:</b>
      {{qualifiers.audience | inlineMd | safe}}
   </p>
   {%- endif %}
   {% if qualifiers.context -%}
   <p>
      <b>A bit of context:</b>
      {{qualifiers.context | inlineMd | safe}}
   </p>
   {%- endif %}
   {% if qualifiers.epistemic %}
   <p>
      <b><a href='https://v5.chriskrycho.com/journal/epistemic-status/'>Epistemic status</a>:</b>
      {{qualifiers.epistemic | inlineMd | safe}}
   </p>
   {% endif %}
   {% if qualifiers.discusses %}
   <p>
      <b>Heads up:</b>
      This post directly discusses {{qualifiers.discusses | niceList | inlineMd | safe}}.
   </p>
   {% endif %}
</div>
{%- endif %}

{%- if book.review -%}
   {{- review(book) -}}
{%- endif -%}
   {{- super() -}}
{% endblock %}

{% block after_content %}
   {{item.meta(title, page.date, tags, updated, updates, page.inputPath, thanks, isGhostCollection)}}
{% endblock %}