{%- extends '_layouts/base.njk' -%}
{%- import '_components/taxonomy-list.njk' as C -%}
{%- block main -%}
{%- set section = get_section(path="_index.md") -%}
   <main class='archives'>
      <header>
         <h2>Archives</h2>
      </header>

      <div class="content">

         <section class='date-list'>
            <h3>By date</h3>
            <ul class='StructuredArchive'>
               <li>
                  <a href=''>All</a> <span class='ItemCount'>({{section.pages | length}})</span>
                  <ul class='StructuredArchive'>
                  {% for year, year_posts in section.pages | group_by(attribute="year") %}
                     <li>
                        <a href='/{{year}}'>{{year}}</a> <span>({{year_posts | length}})</span>
                        <ul class='StructuredArchive'>
                           {% for month, month_posts in year_posts | group_by(attribute="month") %}

                              <li><a href=''>{{month}}</a> <span class='ItemCount'>({{month_posts | length}})</span></li>
                           {% endfor %}
                        </ul>
                     </li>
                  {% endfor %}
                  </ul>
               </li>
            </ul>
         </section>

         <section class='topic-list'>
            {{C::taxonomy_list(taxonomy=get_taxonomy(kind="topics"), title="topic")}}
         </section>

         <section class='medium-list'>
            {{C::taxonomy_list(taxonomy=get_taxonomy(kind="medium"), title="medium")}}
         </section>
      </div>
   </main>
{%- endblock main -%}
