{% import 'components/nav.njk' as nav %}

{% set site_title = config.title + ', ' + config.subtitle %}
{% if title != config.title %}
   {% set page_title = (title + '&hairsp;—&hairsp;' + site_title) | safe %}
{% else %}
   {% set page_title = site_title %}
{% endif %}

<!DOCTYPE html>
<html>
<head>
   <meta charset='utf-8' />
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <title>{{page_title}}</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>

   {# TODO: can I (a) inline all of this or (b) Critical CSS it up? #}
   <link rel='stylesheet' type='text/css' media='screen' href='/style.css' />

   <link preload as='style' rel='stylesheet' type='text/css' media='screen' href='/fonts.css'>
   <link rel='stylesheet' type='text/css' media='screen' href='/fonts.css'>
   {% block extra_styles %}{% endblock extra_styles %}

   <link href="/assets/images/favicon.png" type="image/png" rel="icon">
   <link href="/assets/images/favicon.ico" type="image/ico" rel="icon">

   <link rel='alternate' href='feed.xml' type='application/atom+xml' title='Atom'>

   <link rel="me" href="mailto:hello@chriskrycho.com">
   <link rel="me" href="https://github.com/chriskrycho">
   <link rel="me" href="https://patreon.com/chriskrycho">
   <link rel="me" href="https://soundcloud.com/chriskrycho">
   <link rel="me" href="https://vimeo.com/chriskrycho">
   <link rel="me" href="https://cash.me/$chriskrycho">
   <link rel="me" href="https://twitter.com/chriskrycho">
   <link rel="me" href="https://www.linkedin.com/in/chriskrycho">
   <link rel="me" href="https://stackoverflow.com/users/564181/chris-krycho">

   <link rel="openid.delegate" href="https://v4.chriskrycho.com/">
   <link rel="openid.server" href="https://indieauth.com/openid">

   {% block extra_links %}{% endblock extra_links %}
</head>
<body>
   <main>
      <header class='site-header'>
         <h1 class='site-title'>
            <a href='/'>
               Sym·poly·mathesy
            </a>
         </h1>
         <h2 class='site-subtitle'>
            by <a href='/about' class='site-about-link'>Chris Krycho</a>
         </h2>
      </header>

      <div class='content'>
      {% block main %}{% endblock main %}
      </div>
   </main>

   <nav class='site-nav'>
      <ul>
         {%- for entry in pages -%}
            {%- if entry.type === 'page' -%}
               {{nav.item(entry, pageUrl=page.url)}}
            {%- elif entry.type === 'separator' -%}
               <li role='separator'><hr></li>
            {%- endif -%}
         {%- endfor -%}
      </ul>
   </nav>
</body>
</html>
