{#-
   I am defining this myself instead of using the quite reasonable [existing plugin]
   because I want finer-grained control and in particular the ability to extend this to
   publishing variations on the theme. Controlling this will let me create custom variants
   of items for link posts, for example, and it will also make it straightforward for me
   to generate per-collection variants.

   [existing plugin] https://github.com/11ty/eleventy-plugin-rss
-#}
<?xml version='1.0' encoding='utf-8'?>
<feed xmlns='http://www.w3.org/2005/Atom'>
   {% block feed_info -%}
   <title>{{title | siteTitle(config) | safe}}</title>
   <id>{{config.url}}</id>
   {% include 'blocks/rss-author.njk' %}
   <link href='{{config.url}}' />
   <link href='{{page.url | absoluteUrl(config.url)}}' rel='self'/>
   <subtitle>{{config.description}}</subtitle>
   <rights>{% copyright build.date %}</rights>
   <updated>{{build.date | isoDate}}</updated>
   <generator>Eleventy Atom Plugin by Chris Krycho</generator>
   <icon>https://v5.chriskrycho.com/assets/images/favicon.png</icon>
   {# TODO: logo #}
   {%- endblock feed_info %}

   {# invalid without date #}
   {%- for item in collections.all | withValidDate %}
   <entry>
      {# Invalid to send an item without title or description #}
      {% set url = item.url | absoluteUrl(config.url) %}
      <id>{{url}}</id>
      <title type="html">
         {%- if item.data.title -%}
            {{item.data.title}}
         {%- else -%}
            {% localeDate item.date, 'yyyy.MM.dd.HHmm' %}
         {%- endif -%}
      </title>
      {% if item.data.updated %}
      <updated>{{item.data.updated | isoDate}}</updated>
      <published>{{item.date | isoDate}}</published>
      {% else %}
      <updated>{{item.date | isoDate}}</updated>
      {% endif %}
      <link href='{{url}}' />
      {% if item.data.summary %}
      <summary type="html">{{item.data.summary}}</summary>
      {% elif item.data.book.review %}
      <summary type="html">{{item.data.book.review}}</summary>
      {% elif item.data.subtitle %}
      <summary type="html">{{item.data.subtitle}}</summary>
      {% endif %}
      <content type="html">
         {%- if item.data.audience -%}
            &lt;p&gt;&lt;b&gt;Assumed Audience:&lt;/b&gt; {{item.data.audience}}&lt;/p&gt;
         {%- endif -%}
         {% if item.data.book %}
            {% set book = item.data.book %}
            &lt;p&gt;
               &lt;cite&gt;{{book.title}}&lt;/cite&gt;, {{book.author}} ({{book.year}})&lt;br/&gt;
               &lt;b&gt;{{book.rating}}:&lt;/b&gt; {{book.review | inlineMd}}
            &lt;/p&gt;
         {% endif %}
         {{item.templateContent}}
      </content>
      {% include 'blocks/rss-author.njk' %}
      {#- <comments>TODO: Webmention!</comments> #}
      {% for tag in item.data.tags %}
      <category term="{{tag}}" />
      {% endfor %}
   </entry>
   {%- endfor %}
</feed>