{%- extends 'base.njk' -%}

{%- if title -%}
   {%- block title_meta -%}
      {{title}}&hairsp;—&hairsp;Chris Krycho
   {%- endblock title_meta %}
{%- endif -%}

{%- block main -%}
<article>
   {% block header -%}{%- endblock header %}
   {% block before_content %}{% endblock before_content %}
   {% block article_content -%}
      <div class='article-content'>{{content | safe}}</div>
   {%- endblock article_content %}
   {% block after_content %}{% endblock after_content %}
</article>
{%- endblock main -%}
