{%- macro taxonomy_list(taxonomy, title) -%}
{%- set topics = taxonomy.items | sort(attribute="pages") | reverse -%}
<h3>By {{title}}</h3>
{% if topics | length > 0 %}
<ul>
{%- for topic in topics -%}
   <li>
      <a href='{{topic.permalink}}'>{{topic.name}}</a>
      <span class='ItemCount'>({{topic.pages | length}})</span>
   </li>
{%- endfor -%}
</ul>
{%- else -%}
   (Nothing here just yet!)
{%- endif -%}
{%- endmacro taxonomy_list -%}
