@font-face {
   font-family: 'Calluna Sans';
   font-display: fallback;
   src: url('/assets/fonts/CallunaSans/Regular.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna Sans';
   font-display: fallback;
   src: url('/assets/fonts/CallunaSans/Italic.otf');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Calluna Sans';
   font-display: fallback;
   src: url('/assets/fonts/CallunaSans/Light.otf');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna Sans';
   font-display: fallback;
   src: url('/assets/fonts/CallunaSans/LightItalic.otf');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'Calluna Sans';
   font-display: fallback;
   src: url('/assets/fonts/CallunaSans/SemiBold.otf');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna Sans';
   font-display: fallback;
   src: url('/assets/fonts/CallunaSans/SemiBoldItalic.otf');
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: 'Calluna Sans';
   font-display: fallback;
   src: url('/assets/fonts/CallunaSans/Bold.otf');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna Sans';
   font-display: fallback;
   src: url('/assets/fonts/CallunaSans/BoldItalic.otf');
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: 'Calluna Sans';
   font-display: fallback;
   src: url('/assets/fonts/CallunaSans/Black.otf');
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna Sans';
   font-display: fallback;
   src: url('/assets/fonts/CallunaSans/BlackItalic.otf');
   font-weight: 900;
   font-style: italic;
}
