@font-face {
   font-family: 'Calluna';
   font-display: fallback;
   src: url('/assets/fonts/Calluna/Regular.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna';
   font-display: fallback;
   src: url('/assets/fonts/Calluna/It.otf');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: 'Calluna';
   font-display: fallback;
   src: url('/assets/fonts/Calluna/Light.otf');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna';
   font-display: fallback;
   src: url('/assets/fonts/Calluna/LightIt.otf');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: 'Calluna';
   font-display: fallback;
   src: url('/assets/fonts/Calluna/Semibold.otf');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna';
   font-display: fallback;
   src: url('/assets/fonts/Calluna/SemiboldIt.otf');
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: 'Calluna';
   font-display: fallback;
   src: url('/assets/fonts/Calluna/Bold.otf');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna';
   font-display: fallback;
   src: url('/assets/fonts/Calluna/BoldIt.otf');
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: 'Calluna';
   font-display: fallback;
   src: url('/assets/fonts/Calluna/Black.otf');
   font-weight: 900;
   font-style: normal;
}
