# Emacs save and block files
*~
.*\#

# OS X Finder files
.DS_Store

# Witing files
*.Ulysses-Group.plist
*.marked
.UlyssesRoot

# IntelliJ IDEA files
.idea/workspace.xml

# SASS
.sass-cache
.sass-cache/

# Python elements
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
