Redirect 301 /2013/02/the-lord-provides-sacrifice-genesis-22.html http://www.vernonking.org/posts/the-lord-provides-a-sacrifice/
Redirect 301 /2013/02/a-merciful-and-gracious-god.html http://www.vernonking.org/posts/a-merciful-and-gracious-god/
Redirect 301 /2013/02/the-perfect-law.html http://www.vernonking.org/posts/the-perfect-law/
Redirect 301 /2013/02/the-lord-spares-his-people.html http://www.vernonking.org/posts/lord-spares-his-people/
Redirect 301 /2013/03/live-free-or-die-hard.html http://www.vernonking.org/posts/live-free-or-die-hard/
Redirect 301 /2013/03/better-off-dead.html http://www.vernonking.org/posts/better-off-dead/
Redirect 301 /2013/03/yet-without-sin.html http://www.vernonking.org/posts/yet-without-sin/
Redirect 301 /2013/03/will-moses-accuse-you.html http://www.vernonking.org/posts/will-moses-accuse-you/
Redirect 301 /2013/04/christ-is-better.html http://www.vernonking.org/posts/christ-is-better/
Redirect 301 /2013/04/christ-is-first.html http://www.vernonking.org/posts/christ-is-first/
Redirect 301 /2013/04/batmans-noble-lie.html http://www.vernonking.org/posts/batmans-noble-lie/
Redirect 301 /2013/05/the-chiastic-key.html http://www.vernonking.org/papers/the-chiastic-key-to-1-cor-11/
Redirect 301 /2013/07/the-least-of-these.html http://www.vernonking.org/posts/the-least-of-these/
Redirect 301 /2013/07/worship-matters.html http://www.vernonking.org/reviews/worship-matters/
Redirect 301 /2013/07/for-the-city.html http://www.vernonking.org/reviews/for-the-city/
Redirect 301 /2013/07/the-barnabas-factors.html http://www.vernonking.org/reviews/the-barnabas-factors/
Redirect 301 /2013/08/worship-before-throne.html http://www.vernonking.org/papers/worship-before-the-throne/
Redirect 301 /2013/08/build-up-the-church.html http://www.vernonking.org/posts/build-up-the-church-through-worship/
Redirect 301 /2013/08/openness-and-lords-table.html http://www.vernonking.org/posts/openness-and-the-lords-table/
Redirect 301 /2013/08/sacramental-theology.html http://www.vernonking.org/posts/sacramental-theology/
Redirect 301 /2013/08/three-views-of-church-government.html http://www.vernonking.org/posts/three-views-of-church-government/
Redirect 301 /2013/08/holy-spirit-in-ministry.html http://www.vernonking.org/posts/holy-spirit-in-ministry/
Redirect 301 /2013/08/citywide-revival.html http://www.vernonking.org/papers/citywide-revival-through-local-church-revitalization/
Redirect 301 /2013/08/the-role-of-women-in-servant-ministry.html http://www.vernonking.org/papers/the-role-of-women-in-servant-ministry/
Redirect 301 /2013/09/background-to-1-thessalonians.html http://www.vernonking.org/posts/background-to-1-thessalonians/
Redirect 301 /2013/09/evangelism-conference-introduction.html http://www.vernonking.org/posts/evangelism-conference-introduction/
Redirect 301 /2013/10/growing-in-holiness.html http://www.vernonking.org/lessons/growing-in-holiness/
Redirect 301 /2013/11/christianity-and-conquest-of-canaan.html http://www.vernonking.org/papers/christianity-and-the-conquest-of-canaan/
Redirect 301 /2013/11/earnestly-i-seek-you-psalm-63.html http://www.vernonking.org/lessons/earnestly-i-seek-you/
Redirect 301 /2013/11/preach-theology-meets-practice.html http://www.vernonking.org/reviews/preach-theology-meets-practice/
Redirect 301 /2013/12/gospel-and-personal-evangelism.html http://www.vernonking.org/reviews/gospel-and-personal-evangelism/
Redirect 301 /2013/12/master-plan-of-evangelism.html http://www.vernonking.org/reviews/master-plan-of-evangelism/
Redirect 301 /2013/12/soul-winner.html http://www.vernonking.org/reviews/soul-winner/
Redirect 301 /2013/12/an-exegesis-of-matthew-19.html http://www.vernonking.org/papers/exegesis-of-matthew-19-1-12/
Redirect 301 /2013/12/the-dissolution-of-marriage.html http://www.vernonking.org/papers/dissolution-of-marriage/

Redirect 301 / http://pjking.blogspot.com/