.contact-form {
   max-width: var(--max-width);
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
   column-gap: 1em;
   row-gap: 0.5em;

   font-family: var(--sans);
   font-weight: 300;

   label {
      grid-column: span 1;
   }

   input,
   textarea {
      grid-column: span 2;
   }

   &__submit {
      grid-column: span 2;
   }
}

@media screen and (min-width: 400px) {
   .contact-form {
      &__submit {
         grid-column: span 2 / -1;
      }
   }
}
