.site-header {
   color: var(--fg);
   background-color: var(--bg);
}

.site-title {
   padding: 1rem;
   font: {
      family: var(--sans);
      weight: 300;
      size: ms(4);
   }

   line-height: 1;
   text-align: center;

   a {
      text-decoration: none;
      background: var(--bg);
      z-index: 0;
      position: relative;

      --bar-height: 3px;
      --even-width: calc(calc(90vw - 100%) / 2);
      --left-bar-width: var(--even-width);
      --right-bar-width: var(--even-width);
      --bar-color: transparent;

      @mixin bar {
         content: '';
         position: absolute;
         top: 40%;
         background-color: var(--bar-color);
         height: calc(var(--bar-height) - 2px);
         width: 0;
         border: {
            width: 1px;
            style: solid;
            color: transparent;
            radius: calc(var(--bar-height) / 2);
         }

         transition: all var(--transition);
      }

      &:before {
         @include bar;
         right: calc(100% + 4px);
      }

      &:after {
         @include bar;
         left: calc(100% + 3px);
      }

      &:hover,
      &:active {
         --bar-color: var(--link);

         &:before {
            width: var(--left-bar-width);
         }

         &:after {
            width: var(--right-bar-width);
         }
      }
   }
}

@media screen {
   @media (min-width: $break-2) {
      .site-title {
         padding: {
            top: ms(-3);
         }
         font-size: ms(6);

         a {
            --bar-height: 4px;
            --right-bar-width: calc(100% - #{ms(1)});
            --left-bar-width: calc(100% - #{ms(1)});

            &:before {
               right: calc(100% + 8px);
            }

            &:after {
               top: 47%;
               left: calc(100% + 9px);
            }
         }
      }
   }
}
