.preferences {
   font: var(--sans);
   position: fixed;
   top: 1em;
   right: 1em;

   background: var(--bg);
   color: var(--fg);
}

.preferences-button {
   position: fixed;
   top: 1em;
   right: 1em;
   background: var(--bg);
   color: var(--fg);
   border: none;
}
