.site-nav {
   --bg: var(--gray-1);
   --fg-active: var(--gray-6);
   --fg-inactive: var(--gray-4);
   --divider: var(--gray-3);

   background-color: var(--bg);
   box-shadow: inset 0 1rem 1rem -1rem var(--gray-0);

   font: {
      family: var(--iv);
      weight: 200;
      size: calc(1em - 1px);
   }

   text-transform: uppercase;
   letter-spacing: 1px;

   display: flex;
   align-content: center;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   padding: {
      top: ms(2);
      bottom: ms(3);
   }

   ul {
      margin: 0;
      padding: 0 ms(3);
      list-style: none;
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: center;

      li {
         text-align: center;
         flex: 0 0 auto;
         margin: 0.1rem 0;

         &[role='separator'] {
            margin: 0.25rem 0;
         }
      }
   }

   a {
      --color: var(--fg-inactive);
      --bar-color: transparent;

      &:hover, &:active, &.current {
         --color: var(--fg-active);
         --bar-color: var(--fg-active);
      }

      text-decoration: none;
      position: relative;

      color: var(--color);

      @mixin bars {
         content: "";
         height: 1px;
         background: var(--bar-color);
         border-radius: 1px;
         width: calc(var(--hr-width) / 2);
         position: absolute;
         top: 0.4rem;
         transition: background-color var(--transition);
      }

      &:before {
         @include bars;
         left: calc(0.4rem + 100%);
      }

      &:after {
         @include bars;
         right: calc(0.4rem + 100%);
      }
   }

   hr {
      border-color: var(--divider);
   }
}

@media screen and (min-width: $reflow) and (min-height: 540px) {
   .site-nav {
      box-shadow: inset 1rem 0 1rem -1rem var(--gray-0);

      padding: {
         top: 0;
         bottom: 0;
      }

      ul {
         height: 100vh;
         justify-content: center;
      }
   }
}
