.post-meta {
   max-width: var(--max-width);
   margin: 1em auto;
   display: grid;
   grid: auto-flow / min-content 1fr;
   gap: 1rem;
   align-content: start;
   line-height: 1.2;

   &::before {
      content: '';

      grid-column: 1 / 3;
      display: block;
      width: ms(8);
      height: 2px;
      background: var(--meta-divider);
      margin: ms(2) 0 ms(3);
   }

   margin-bottom: ms(4);

   ul,
   ol {
      width: 100%;
      max-width: var(--max-width);
      padding-left: ms(2);
      margin-bottom: ms(0);
   }

   ol {
      font-feature-settings: 'lnum';
   }

   ul {
      list-style-type: circle;
   }

   ul.topics {
      list-style: none;
      display: inline;
      padding-left: 0;
      margin-bottom: 0;

      .__topic {
         display: inline;

         &:not(:last-child) {
            &:after {
               content: ',';
            }
         }
      }
   }
}

.post-meta-section {
   display: contents;
}

.section-label {
   grid-column: 1 / 2;
   align-self: first baseline;
   font: {
      family: var(--sans-subhead);
      size: calc(var(--sans-adjust) * #{ms(-2)});
   }
   display: block;
   font-weight: bold;
   color: var(--meta-label-color);
   text-transform: uppercase;
   letter-spacing: 0.1em;
}

.section-content {
   font: {
      family: var(--sans);
      size: calc(var(--sans-adjust) * #{ms(-1)});
      weight: 300;
   }
   display: block;
   align-self: first baseline;
   grid-column: 2 / 3;
}
