/*
Syntax error: Colors must have either three or six digits: '#FEFEF'
        on line 41 of _base.scss
        from line 4 of style.scss

36:  *    Light blue: #5592C9 (Scarf Stripe)
37:  *    Dark blue:  #01295C (Dark Wash Jeans)
38: *\/
39: $dark_gray: #20282A;
40: $light_gray: #6C7487;
41: $white: #FEFEF;  // not quite white.
42: $light_blue: #5592C9;
43: $dark_blue: #01295C;
44: 
45: /* Font families
46:  *

Backtrace:
_base.scss:41
style.scss:4
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/lexer.rb:282:in `color'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/lexer.rb:239:in `token'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/lexer.rb:218:in `read_token'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/lexer.rb:169:in `peek'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:480:in `try_tok'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:228:in `unary_plus'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:209:in `times_div_or_mod'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:209:in `plus_or_minus'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:209:in `relational'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:209:in `eq_or_neq'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:209:in `and_expr'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:209:in `or_expr'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:298:in `space'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:283:in `interpolation'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:246:in `expr'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:470:in `assert_expr'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/script/parser.rb:49:in `parse'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:1022:in `sass_script'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:514:in `variable'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:553:in `block_child'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:546:in `block_contents'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:82:in `stylesheet'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/scss/parser.rb:27:in `parse'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/engine.rb:342:in `_to_tree'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/engine.rb:274:in `to_tree'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `each'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/plugin.rb:81:in `update_stylesheets'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/exec.rb:443:in `watch_or_update'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/exec.rb:326:in `process_result'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/exec.rb:41:in `parse'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/lib/sass/exec.rb:21:in `parse!'
/usr/local/Cellar/ruby/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.2.13/bin/scss:13:in `<top (required)>'
/usr/local/opt/ruby/bin/scss:23:in `load'
/usr/local/opt/ruby/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Colors must have either three or six digits: '#FEFEF'\A         on line 41 of _base.scss\A         from line 4 of style.scss\A \A 36:  *    Light blue: #5592C9 (Scarf Stripe)\A 37:  *    Dark blue:  #01295C (Dark Wash Jeans)\A 38: */\A 39: $dark_gray: #20282A;\A 40: $light_gray: #6C7487;\A 41: $white: #FEFEF;  // not quite white.\A 42: $light_blue: #5592C9;\A 43: $dark_blue: #01295C;\A 44: \A 45: /* Font families\A 46:  *"; }
