.archives {
   .content {
      display: grid;
      grid: {
         row-gap: ms(2);
         template: {
            areas:
               "d"
               "t"
               "m"
         }
      }

      .date-list {
         grid-area: d;
      }

      .topic-list {
         grid-area: t;
      }

      .medium-list {
         grid-area: m;
      }
   }
}

@media screen {
   @media (min-width: $break-3) {
      .archives .content {
         display: grid;
         grid: {
            column-gap: 1.1%; // A bit of a hack until subgrid lands
            template: {
               columns: repeat(10, 9%);
               areas: "d d d t t t t m m m";
            }
         }
      }
   }
}
