article {
   --max-width: 32rem;
   --width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: ms(2);

   ul, ol {
      max-width: 32em;
   }

   ol {
      list-style: decimal outside;
   }

   ul {
      list-style: circle outside;
   }

   p {
      width: var(--width);
      max-width: var(--max-width);
      margin: 0 auto ms(0);
      padding: 0;

      &:last-child {
         margin-bottom: 0;
      }
   }

   pre, code, pre code {
      font: {
         family: var(--mono);
         size: ms(-2);
      }

      border: 1px solid var(--code-outline);
      border-radius: 2px;
   }

   pre {
      --pre-max-width: calc(var(--max-width) + 1rem);

      width: 100%;
      max-width: var(--pre-max-width);
      margin: 0 0 ms(0);
      padding: ms(-4);
      overflow-x: scroll;
      background-color: var(--gray-1) !important; // overrides syntax highlighting
   }

   code {
      margin: 1em 0.1em;
      padding: 0.1em 0.275em;
      font-size: ms(-2);

   }

   a {
      -webkit-text-decoration-color: var(--underline);
      -moz-text-decoration-color: var(--underline);
      text-decoration-color: var(--underline);
      text-decoration-skip-ink: auto;

      transition:
         -webkit-text-decoration-color var(--transition),
         -moz-text-decoration-color var(--transition),
         text-decoration-color var(--transition),
         color var(--transition);

      &:hover {
         -webkit-text-decoration-color: var(--hover-underline);
         -moz-text-decoration-color: var(--hover-underline);
         text-decoration-color: var(--hover-underline);
      }
   }

   .subtitle {
      font: {
         style: italic;
      }
   }
}

@media screen and (min-width: $reflow) {
   article {
      --width: 32rem;

      padding-bottom: ms(3);

      pre {
         width: calc(var(--width) + 1rem);
      }
   }
}
