$width: 32rem;

article {
   --max-width: #{$width};
   --width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   padding: {
      top: ms(2);
      bottom: ms(2);
   }

   header {
      width: 100%;
      max-width: var(--max-width);
      margin-bottom: 1em;

      h1 {
         font: {
            family: var(--sans);
            weight: 600;
            size: ms(4);
         }
      }

      h2 {
         font: {
            style: italic;
         }
      }
   }

   ul,
   ol {
      width: 100%;
      max-width: 32em;
      padding-left: ms(2);
      margin-bottom: ms(0);
   }

   ol {
      list-style: decimal;
   }

   ul {
      list-style: circle;
   }

   p {
      width: var(--width);
      max-width: var(--max-width);
      margin: 0 0 ms(0);
      padding: 0;

      &:last-child {
         margin-bottom: 0;
      }
   }

   img {
      width: 100%;
   }

   @mixin fancy-block($bg, $fg, $border) {
      align-self: start;
      margin: {
         left: -3px;
         bottom: ms(0);
      }
      padding: ms(-4);
      width: 100%;
      color: $fg;
      background: $bg;
      border-left: 3px solid $border;
   }

   blockquote {
      @include fancy-block(
         var(--blockquote-bg),
         var(--blockquote-fg),
         var(--blockquote-border)
      );

      font: {
         family: var(--sans);
         size: var(--fs-sans-adjust);
      }
   }

   code {
      font: {
         family: var(--mono);
         size: ms(-1);
      }
      background: var(--code-bg);
      padding: ms(-8) ms(-4);
      color: var(--code-fg);
   }

   pre {
      @include fancy-block(var(--code-bg), var(--code-fg), var(--code-border));

      background: var(--code-bg);
      color: var(--code-fg);
      border-left: 3px solid var(--code-border);

      code {
         display: block;
         overflow-x: auto;
         width: 100%;
         margin: 0;
         padding: 0;
         line-height: ms(2);
         font-size: ms(-1);
      }
   }

   aside {
      position: relative;

      > :first-child::before {
         content: "// aside //";
         display: inline-block;
         font-family: var(--sans);
         font-size: 110%;
         color: var(--aside-marker-fg);
         background-color: var(--aside-marker-bg);
         margin-right: ms(-4);
         padding: 0 ms(-4);
      }

      code {
         background-color: var(--aside-code-bg);
      }
   }

   .assumed-audience {
      display: block;
   }

   aside,
   .assumed-audience {
      @include fancy-block(
         var(--aside-bg),
         var(--aside-fg),
         var(--aside-border)
      );
   }

   a {
      -webkit-text-decoration-color: var(--underline);
      -moz-text-decoration-color: var(--underline);
      text-decoration-color: var(--underline);
      text-decoration-skip-ink: auto;

      transition: -webkit-text-decoration-color var(--transition),
         -moz-text-decoration-color var(--transition),
         text-decoration-color var(--transition), color var(--transition);

      &:hover {
         -webkit-text-decoration-color: var(--hover-underline);
         -moz-text-decoration-color: var(--hover-underline);
         text-decoration-color: var(--hover-underline);
      }
   }

   hr {
      margin-bottom: ms(0);
   }
}

@media screen {
   @media (min-width: 32.6667rem) {
      article {
         --side-padding: #{ms(-1)};
         --fancy-width: calc(var(--max-width) + calc(2 * var(--side-padding)));

         blockquote,
         pre,
         aside {
            max-width: var(--fancy-width);
            align-self: center;
            padding: {
               left: var(--side-padding);
               right: var(--side-padding);
            }
         }
      }
   }

   @media (min-width: $resize) {
      article {
         --fancy-width: calc(var(--max-width) + 2.5rem);

         blockquote,
         pre,
         aside {
            width: var(--fancy-width);
            max-width: none;
            margin-left: ms(-4);
            padding-left: ms(0);
         }
      }
   }

   @media (min-width: $reflow) {
      article {
         --width: #{$width};

         padding-bottom: ms(3);

         header {
            width: var(--fancy-width);
            max-width: none;
            text-align: left;
         }
      }
   }
}
