body {
   --border: var(--medium-blue);

   color: var(--fg);
   background-color: var(--bg);
   padding: ms(-4) ms(0);
   margin: 0;

   display: grid;
   align-items: center;
   grid: {
      column-gap: ms(0);
      row-gap: ms(2);
      template: {
         columns: repeat(12, 1fr);
         rows: minmax(#{ms(6), auto});
         areas:
            "h h h h h h h h h h h h"
            "n n n n n n n n n n n n"
            "m m m m m m m m m m m m"
            "f f f f f f f f f f f f";
      }
   }

   border: {
      top: ms(-8) solid var(--border);
   }

   & > header {
      grid-area: h;
   }

   & > nav {
      grid-area: n;
   }

   & > main {
      grid-area: m;
   }

   & > footer {
      grid-area: f;
   }
}

@media screen {
   @media (prefers-color-scheme: dark) {
      body {
         --border: var(--medium-gray);
      }
   }

   @media (min-width: $break-0) {
      body {
         grid-template-areas:
            "h h h h h h h n n n n n"
            ". m m m m m m m m m m ."
            "f f f f f f f f f f f f";
      }
   }

   @media (min-width: $break-0) {
      body > nav {
         margin-top: ms(-5);
      }
   }

   @media (min-width: $break-2) {
      body > nav {
         margin-top: ms(-4);
      }
   }

   @media (min-width: $break-3) {
      body {
         padding: {
            left: ms(8);
            right: ms(8);
         }

         grid-template-areas:
            "h h h h h h h n n n n n"
            ". m m m m m m m m m . ."
            "f f f f f f f f f f f f";
      }
   }
}
