.site-title {
   margin: 0;
   padding: 0;
   font: {
      family: var(--sans);
      weight: 300;
      size: ms(6);
   }

   a {
      display: flex;
      text-decoration: none;
      justify-content: center;
      align-items: center;

      img {
         height: ms(4);
         width: ms(4);
      }

      span {
         margin-top: ms(-12);
         @include fancy-link-text;
         @include fancy-link-after($height: 2px, $bottom: -4px);
      }

      &:hover, &:active {
         span {
            @include fancy-link-after-hover;
         }
      }
   }
}

.site-subtitle {
   font: {
      family: var(--serif);
      weight: 400;
      size: ms(2);
      style: italic;
   }

   margin: 0;
   padding: 0;

   text-align: center;
}

@media screen {
   @media (min-width: $break-0) {
      .site-title a {
         justify-content: flex-start;
      }

      .site-subtitle {
         text-align: left;
         margin-left: ms(3);
      }
   }

   @media (min-width: $break-2) {
      .site-title {
         font-size: ms(8);

         a span {
            @include fancy-link-after($height: 3px, $bottom: -10px);
         }
      }

      .site-subtitle {
         margin-left: ms(6);
      }
   }
}
