.Logo {
   margin: 0;
   padding: 0;
   font: {
      family: var(--sans);
      weight: 300;
      size: ms(6);
   }

   a {
      display: flex;
      text-decoration: none;
      justify-content: center;
      align-items: center;

      img {
         height: ms(4);
         width: ms(4);
      }

      span {
         margin-top: ms(-12);
         @include fancy-link-text;
         @include fancy-link-after($height: 2px, $bottom: -4px);
      }

      &:hover, &:active {
         span {
            @include fancy-link-after-hover;
         }
      }
   }
}

@media screen {
   @media (min-width: $break-0) {
      .Logo a {
         justify-content: flex-start;
      }
   }

   @media (min-width: $break-2) {
      .Logo {
         font-size: ms(8);

         a span {
            @include fancy-link-after($height: 3px, $bottom: -10px);
         }
      }
   }
}
