.SiteNav {
   font: {
      family: var(--sans);
      size: ms(1);
   }

   ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;

      li {
         text-align: center;
         flex: 0 0 auto;
         padding: 0 ms(-3) 0 ms(-4);
         position: relative;

         @mixin slash($right) {
            content: "";
            border-left: 1px solid var(--fg);
            height: 100%;
            transform: translateY(-2px) rotate(15deg);
            position: absolute;
            right: $right;
            top: 0;
            bottom: 0;
         }

         &:not(:last-child):before {
            @include slash(3px);
         }

         &:not(:last-child):after {
            @include slash(0);
         }
      }
   }

   a {
      text-decoration: none;
      position: relative;

      @include link($height: 2px)
   }
}

@media screen {
   @media (min-width: $break-1) {
      .SiteNav ul {
         justify-content: flex-end;
      }
   }
}
