.SiteNav {
   font: {
      family: var(--sans);
      size: ms(2);
   }

   ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
  
      li {
         text-align: center;
         flex: 0 0 auto;
         padding: 0 ms(-12);
      }
   }

   a {
      color: var(--link);
      text-decoration: none;
   }
}

@media screen and (min-width: $break-1) {
   .SiteNav ul {
      justify-content: flex-end;
   }
}
