<div class="email-forms">
<h3>All posts</h3>
<form
action="https://buttondown.com/api/emails/embed-subscribe/sympolymathesy"
method="post"
target="popupwindow"
onsubmit="window.open('https://buttondown.com/sympolymathesy', 'popupwindow')"
class="contact-form embeddable-buttondown-form"
>
<label for="bd-email">Email address:</label>
<input type="email" name="email" id="bd-email" class="contact-form__input" />
<button type="submit" class="contact-form__submit">Subscribe</button>
</form>
<h3>Weekly digest</h3>
<form
action="https://buttondown.com/api/emails/embed-subscribe/sympolymathesy"
method="post"
target="popupwindow"
onsubmit="window.open('https://buttondown.com/sympolymathesy-digest', 'popupwindow')"
class="contact-form embeddable-buttondown-form"
>
<label for="bd-email-digest" class="contact-form__label">Email address:</label>
<input type="email" name="email" id="bd-email-digest" class="contact-form__input" />
<button type="submit" class="contact-form__submit">Subscribe</button>
</form>
</div>
