<p>
   I’m Chris Krycho—a follower of Christ, a husband, and a dad. I’m a <a href='/cv/'>software engineer</a> by trade; a theologian and <a href='https://music.chriskrycho.com'>composer</a> by vocation; and a writer, <a href='https://www.strava.com/athletes/chriskrycho'>runner and cyclist</a>, and erstwhile podcaster by hobby.
</p>

<p>
   I help teams with front-end web strategy development, TypeScript adoption and conversion, and Rust adoption. <a href="/services/">Hire me to work with you!</a>
</p>
