I am a software engineer by trade; a writer, composer, and podcaster by hobby; and a theologian by vocation. I live in Monument, Colorado with my wife and daughters. Outside this site, I also occasionally write at
<a href='https://mereorthodoxy.com'>Mere Orthodoxy</a>; publish a mostly-weekly newsletter, <a href='https://buttondown.email/chriskrycho'><cite>Across the Sundering Seas</cite></a>; and cohost and produce <a href='https://www.winningslowly.org'><cite>Winning Slowly</cite></a>, a podcast about technology, religion, ethics and art.
