<p>
   I’m Chris Krycho—a follower of Christ, a husband, and a dad. I’m a <a href='/cv/'>software engineer</a> by trade; a theologian and <a href='https://music.chriskrycho.com'>composer</a> by vocation; and a writer, <a href='https://www.strava.com/athletes/chriskrycho'>runner and cyclist</a>, and erstwhile podcaster by hobby.
</p>
