<section class='content-block'>
   <div class='article-content'>
      <div class='note'>
         <p>
            I just recently launched this site, so some parts of it don’t actually have
            any content just yet! For more content than even I know what to do with, you
            can check out <a href='https://v4.chriskrycho.com'>the previous iteration of
            my site</a>!
         </p>
      </div>
   </div>
</section>