<form id='theme-chooser'>
   <label for="system">match <abbr title="operating system">OS</abbr></label>
   <input type="radio" name="theme" id="system" value="system">

   <label for="light">light</label>
   <input type="radio" name="theme" id="light" value="light">

   <label for="dark">dark</label>
   <input type="radio" name="theme" id="dark" value="dark">
</form>
