{% macro list(collection) %}
<ul class='archive-list'>
{%- for year in collection %}
<li class='year'>
   <div class='year-info'>
      <h2 class='year-title date'>{{year.name}}</h2>
   </div>
   <ul class='year-items'>
   {%- for month in year.months %}
      <li class='month'>
         <h3 class='month-title date'>{{month.name}}</h3>
         <ul class='month-items'>
         {%- for day in month.days %}
            <li class='day'>
               <h4 class='day-title date'>{{day.name}}</h4>
               <ul class='day-items'>
               {%- for item in day.items %}
                  <li class='item'>
                     <h5 class='item-title'>
                        <a href='{{item.url}}' class='item-permalink'>
                           {{item.data.title | inlineMd | safe}}
                        </a>
                     </h5>
                     <p class='item-subtitle'>{{item.data.subtitle | inlineMd | safe}}</h2>
                  </li>
               {% endfor -%}
               </ul>
            </li>
         {% endfor -%}
         </ul>
      </li>
   {%- endfor -%}
   </ul>
</li>
{% endfor -%}
</ul>
{% endmacro %}