{%- macro entries(items, config) -%}
{# invalid without date #}
{%- for item in items | withValidDate -%}
<entry>
   {#- Invalid to send an item without title or description -#}
   {% set url = item.url | absoluteUrl(config.url) -%}
   <id>{{url}}</id>
   <title type="html">
      {%- if item.data.title -%}
         [{{item.inputPath | toCollection}}] {{item.data.title}}
      {%- else -%}
         [{{item.inputPath | toCollection}}] {% localeDate item.date, 'yyyy.MM.dd.HHmm' %}
      {%- endif -%}
   </title>
   {% if item.data.updated -%}
   <updated>{{item.data.updated | isoDate}}</updated>
   <published>{{item.date | isoDate}}</published>
   {%- else -%}
   <updated>{{item.date | isoDate}}</updated>
   {%- endif %}
   <link href='{{url}}' />
   {% set summary -%}
   {%- if item.data.summary -%}
      {{item.data.summary}}
   {%- elif item.data.book.review -%}
      {{item.data.book.review}}
   {%- elif item.data.subtitle -%}
      {{item.data.subtitle}}
   {%- endif -%}
   {%- endset %}
   <summary type="html">{{summary}}</summary>
   <content type="html">
      {%- if item.data.qualifiers.audience -%}
         &lt;p&gt;&lt;b&gt;Assumed Audience:&lt;/b&gt; {{item.data.qualifiers.audience}}&lt;/p&gt;
      {%- endif -%}
      {%- if item.data.qualifiers.epistemic -%}
         &lt;p&gt;&lt;b&gt;Epistemic Status:&lt;/b&gt; {{item.data.qualifiers.epistemic}}&lt;/p&gt;
      {%- endif -%}
      {% if item.data.book %}
         {% set book = item.data.book %}
         &lt;p&gt;
            &lt;cite&gt;{{book.title}}&lt;/cite&gt;, {{book.author}} ({{book.year}})&lt;br/&gt;
            &lt;b&gt;{{book.rating}}:&lt;/b&gt; {{book.review | inlineMd}}
         &lt;/p&gt;
      {% endif %}
      {{item.templateContent}}
   </content>
   {% include 'blocks/rss-author.njk' %}
   {#- <comments>TODO: Webmention!</comments> #}
   {% for tag in item.data.tags %}
   <category term="{{tag}}" />
   {% endfor %}
</entry>
{%- endfor %}
{%- endmacro -%}