{%- macro entries(items, config) -%}
{# invalid without date #}
{%- if items is not undefined and items.length > 0 -%} 
{%- for item in items | withValidDate | reverse -%}
<entry>
   {#- Invalid to send an item without title or description -#}
   {% set url -%}
      {%- if item.data.feedId -%}
         {{item.data.feedId | absoluteUrl(config.url)}}
      {%- else -%}
         {{item.url | absoluteUrl(config.url)}}
      {%- endif -%}
   {%- endset -%}
   <id>{{url}}</id>
   <title type="html">
      {%- if item.data.title -%}
         [{{item.inputPath | toCollection}}] {{item.data.title}}
      {%- else -%}
         [{{item.inputPath | toCollection}}] {% localeDate item.date, 'yyyy.MM.dd.HHmm' %}
      {%- endif -%}
   </title>
   {% if item.data.updated -%}
   <updated>{{item.data.updated | isoDate}}</updated>
   <published>{{item.date | isoDate}}</published>
   {%- else -%}
   <updated>{{item.date | isoDate}}</updated>
   {%- endif %}
   <link href='{{url}}' />
   {% set summary -%}
   {%- if item.data.summary -%}
      {{item.data.summary}}
   {%- elif item.data.book.review -%}
      {{item.data.book.review.rating}}: {{item.data.book.review.summary}}
   {%- elif item.data.subtitle -%}
      {{item.data.subtitle}}
   {%- endif -%}
   {%- endset %}
   <summary type="html">{{summary}}</summary>
   <content type="html">
      {%- if item.data.subtitle -%}
         &lt;i&gt;{{item.data.subtitle | inlineMd}}&lt;/i&gt;
      {%- endif -%}
      {%- if item.data.qualifiers.audience -%}
         &lt;p&gt;&lt;b&gt;Assumed Audience:&lt;/b&gt; {{item.data.qualifiers.audience | inlineMd}}&lt;/p&gt;
      {%- endif -%}
      {%- if item.data.qualifiers.epistemic -%}
         &lt;p&gt;&lt;b&gt;Epistemic Status:&lt;/b&gt; {{item.data.qualifiers.epistemic | inlineMd}}&lt;/p&gt;
      {%- endif -%}
      {% if item.data.book %}
         {% set book = item.data.book %}
         &lt;p&gt;
            {% if book.link %}
            &lt;a href="{{book.link}}" rel="nofollow"&gt;&lt;cite&gt;{{book.title}}&lt;/cite&gt;&lt;/a&gt;, {{book.author}} ({{book.year}})&lt;br/&gt;&lt;/a&gt;
            {% else %}
            &lt;cite&gt;{{book.title}}&lt;/cite&gt;, {{book.author}} ({{book.year}})&lt;br/&gt;
            {% endif %}
            {% if book.review -%}
            &lt;b&gt;{{book.review.rating}}:&lt;/b&gt; {{book.review.summary | inlineMd}}
            {%- endif %}
            {%- if book.cover -%}
            &lt;img src="{{book.cover}}" alt="cover art for {{book.title}}" /&gt;
            {%- endif -%}
         &lt;/p&gt;
      {% endif %}
      {{item.templateContent}}
   </content>
   {% include 'blocks/rss-author.njk' %}
   {#- <comments>TODO: Webmention!</comments> #}
   {% for tag in item.data.tags %}
   <category term="{{tag}}" />
   {% endfor %}
</entry>
{%- endfor %}
{%- endif -%}
{%- endmacro -%}