{% macro review(book) %}
<figure class='book-review'>
{% set cover -%}
   {%- set url = book.cover | resolvedImage -%}
   {%- if book.link -%}
      <a href='{{book.link}}' class='book-review__cover-link' rel='nofollow'>
         <img src='{{url}}' alt='cover for {{book.title}}' class='book-review__cover'/>
      </a>
   {%- else -%}
      <a href='{{url}}' class='book-review__cover-link'>
         <img src='{{url}}' alt='cover for {{book.title}}' class='book-review__cover'/>
      </a>
   {%- endif -%}
{%- endset %}
{{cover | safe}}
<figcaption class='book-review__details'>
   <section class='book-review__about'>
      {% set title -%}
         {%- if book.link -%}
            <a href='{{book.link}}'><cite>{{book.title}}</cite></a>
         {%- else -%}
            <cite>{{book.title}}</cite>
         {%- endif -%}
      {%- endset %}

      {{title | safe}}, {{book.author | safe}} ({{book.year}})
   </section>
   {% if book.review %}
      <section class='book-review__summary'>
         <b>{{book.review.rating}}</b>:
         {{book.review.summary | safe}}
      </section>
   {% endif %}
</figcaption>
</figure>
{% endmacro %}
