{% macro header(type, title, subtitle) %}
<header class='item-header {{type}}'>
   <h1 class='item-title'>{{title | inlineMd | safe}}</h1>
   {% if subtitle -%}
      <p class='item-subtitle'>{{subtitle | inlineMd | safe}}</p>
   {%- endif %}
</header>
{% endmacro %}

{% macro meta(date, tags, updated) %}
<footer class='post-meta'>
   <section class='meta dates'>
      Published {% localeDate date -%}
      {%- if updated -%}, last updated {%- localeDate updated -%}{%- endif -%}
   </section>

   {%- if tags.length > 0 %}
   <section class='meta topics'>Topics:
      <ul>
         {%- for tag in tags %}
         <li><a href='/topics/{{tag | slug}}'>{{tag}}</a></li>
         {%- endfor -%}
      </ul>
   </section>
   {%- endif %}

   <section class='meta git'>
      <ul class=''>
         <li>history</li>
         <li>suggest an edit</li>
      </ul>
      history
   </section>
</footer>
{% endmacro %}