{% macro header(type, title, subtitle) %}
<header class='item-header {{type}}'>
   <h1 class='item-title'>{{title | inlineMd | safe}}</h1>
   {% if subtitle -%}
      <p class='item-subtitle'>{{subtitle | inlineMd | safe}}</p>
   {%- endif %}
</header>
{% endmacro %}

{% macro meta(title, date, tags, updated, inputPath, thanks) %}
{%- set dateFormat = 'MMMM d, yyyy' %}
<footer class='post-meta'>
   {% if thanks is defined %}
   <span class='section-label'>Thanks:</span>
   <div class='section-content'>
      {{thanks}}
   </div>
   {% endif %}

   <span class='section-label'>Posted:</span>
   <span class='section-content'>
      This entry was originally posted in
      {% set collection = inputPath | toCollection %}
      <a href='/{{collection}}/'>{{collection | title}}</a>
      on <span class='dt-published'>{% localeDate date, dateFormat %}</span>
      {%- if updated is defined -%}
      , and last updated on {% localeDate updated, dateFormat %} (you can see the full revision history <a href='{{inputPath | historyLink}}'>here</a>)
      {%- endif -%}
      .
      Spotted a typo? <a href='{{inputPath | editLink}}'>Submit a correction!</a>
   </span>

   {%- if tags.length > 0 %}
   <span class='section-label'>Topics:</span>
   <ul class='topics section-content'>
      {%- for tag in tags %}
      <li class='__topic'><a href='/topics/{{tag | slug}}'>{{tag}}</a></li>
      {%- endfor -%}
   </ul>
   {%- endif %}

   <span class='section-label'>Respond:</span>
   <div class='section-content'>
      <p>
         Have a thought to share about this? <a href='mailto:hello@chriskrycho.com?subject={{title}}'>Send me an email!</a> (It’s way better than traditional comments.)
      </p>
   </div>

   <span class='section-label'>About:</span>
   <div class='section-content'>
      {% include 'blocks/short-about.njk' %}
   </div>
</footer>
{% endmacro %}