{% macro header(type, title, subtitle) %}
<header class='item-header {{type}}'>
   <h1 class='item-title'>{{title | inlineMd | safe}}</h1>
   {% if subtitle -%}
      <p class='item-subtitle'>{{subtitle | inlineMd | safe}}</p>
   {%- endif %}
</header>
{% endmacro %}

{% macro meta(date, tags, updated) %}
<footer class='post-meta'>
   <span class='section-label'>Published:</span>
   <span class='section-content'>{% localeDate date -%}</span>
   {%- if updated -%}
   <span class='section-label'>Updated:</span>
   <span class='section-content'>{% localeDate updated -%}</span>
   {%- endif -%}

   {%- if tags.length > 0 %}
   <span class='section-label'>Topics:</span>
   <ul class='topics section-content'>
      {%- for tag in tags %}
      <li class='__topic'>{#<a href='/topics/{{tag | slug}}'>#}{{tag}}{#</a>#}</li>
      {%- endfor -%}
   </ul>
   {%- endif %}

   {# TODO: implement this!
   <section class='__section meta-section git'>
      <ul class=''>
         <li>history</li>
         <li>suggest an edit</li>
      </ul>
      history
   </section>
   #}
</footer>
{% endmacro %}