{% macro item(navItem, pageUrl) %}
<li>
   <a href='{{navItem.path}}'
      {% if pageUrl === navItem.path %}
         class='current'
         aria-current="page"
      {% endif %}>
      {{navItem.title}}
   </a>
</li>
{% endmacro %}

{% macro link(navItem) %}
<li><a href='{{navItem.url}}'>{{navItem.title}}</a></li>
{% endmacro %}
