<article>
    <header>
        <h1>Whoops!</h1>
        <h2>I think you took a wrong turn!</h2>
    </header>
    <div class="epigraph">
        "Find the controls to extend the bridge!"<br/>
        "Ah, I think I just blasted them."
    </div>
    <div class="content">
        <p>It looks like you just sealed a door behind you to escape pursuing stormtroopers, and then blasted the control panel to keep them out, but it turns out that's the only way across a gaping chasm. Guess it's time for a shootout while you get out your trusty zipline from your utility belt. Good thing the stormtroopers across the way can't aim so well.</p>
        <p>If that doesn't do the trick, though, you can always click one of the nav links above, or on my name to go back to the home page, or one of the various links in the footer below. That should get you back to the <i>Millennium Falcon</i> in plenty of time to make good your escape.</p>
    </div>
</article>
