<section id="connect">
    <h1>Connect</h1>
    <h2>Social</h2>
    <ul class="social">
        <li><i class="fa fa-fw fa-adn"></i><a href="{{ IDENTITY['App.net'] }}">App.net</a></li>
        <li><i class="fa fa-fw fa-twitter"></i><a href="{{ IDENTITY['Twitter'] }}">Twitter</a></li>
        <li><i class="fa fa-fw fa-facebook"></i><a href="{{ IDENTITY['Facebook'] }}">Facebook</a></li>
        <li><i class="fa fa-fw fa-play-circle"></i><a href="{{ IDENTITY['SoundCloud'] }}">SoundCloud</a></li>
        <li><i class="fa fa-fw fa-instagram"></i><a href="{{ IDENTITY['Instagram'] }}">Instagram</a></li>
        <li><i class="fa fa-fw fa-linkedin"></i><a href="{{ IDENTITY['LinkedIn'] }}">LinkedIn</a></li>
    </ul>
    <h2>Software</h2>
    <ul class="social">
        <li><i class="fa fa-fw fa-github"></i><a href="{{ IDENTITY['GitHub'] }}">GitHub</a></li>
        <li><i class="fa fa-fw fa-bitbucket"></i><a href="{{ IDENTITY['Bitbucket'] }}">Bitbucket</a></li>
        <li><i class="fa fa-fw fa-stack-overflow"></i><a href="{{ IDENTITY['Stack Overflow'] }}">Stack Overflow</a></li>
    </ul>
</section>
<section id="sections">
    <h1>Sections</h1>
    <h2 class="section-title">Everything</h2>
    <ul>
        <li><i class="fa fa-fw "></i><a href="{{ SITEURL }}/archives.html">Browse</a></li>
        <li><i class="fa fa-fw fa-rss"></i><a href="{{ FEED_ALL_RSS }}">Feed</a></li>
        <li><i class="fa fa-fw fa-bullhorn"></i><a href="{{ BROADCAST['all'] }}">Subscribe</a></li>
    </ul>
{% for category, _ in categories %}
    <h2 class="section-title">{{ category }}</h2>
    <ul>
        <li><i class="fa fa-fw "></i><a href="{{ category.url }}">Browse</a></li>
        <li><i class="fa fa-fw fa-rss"></i><a href="{{ SITEURL }}/feeds/{{ category }}.xml">Feed</a></li>
        <li><i class="fa fa-fw fa-bullhorn"></i><a href="{{ BROADCAST[category] }}">Subscribe</a></li>
    </ul>
{% endfor %}
    <ul>
        <li class="section-title"><a href="{{ SITEURL }}/archives.html">archives</a></li>
        {% for category, _ in categories %}
            <li class="section-title"><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
        {% endfor %}
    </ul>
</section>
<section id="recent">
    <h1>Recent</h1>
</section>
