<section id="connect">
    <h1>Connect</h1>
    <h2>Social</h2>
    <ul class="icons">
        <li><a href="{{ IDENTITY['App.net'] }}"><i class="fa fa-fw fa-adn"></i>App.net</a></li>
        <li><a href="{{ IDENTITY['Twitter'] }}"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
        <li><a href="{{ IDENTITY['Facebook'] }}"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
        <li><a href="{{ IDENTITY['SoundCloud'] }}"><i class="fa fa-fw fa-cloud"></i>SoundCloud</a></li>
        <li><a href="{{ IDENTITY['Instagram'] }}"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
        <li><a href="{{ IDENTITY['LinkedIn'] }}"><i class="fa fa-fw fa-linkedin"></i>LinkedIn</a></li>
    </ul>
    <h2>Software</h2>
    <ul class="icons">
        <li><a href="{{ IDENTITY['GitHub'] }}"><i class="fa fa-fw fa-github"></i>GitHub</a></li>
        <li><a href="{{ IDENTITY['Bitbucket'] }}"><i class="fa fa-fw fa-bitbucket"></i>Bitbucket</a></li>
        <li><a href="{{ IDENTITY['Stack Overflow'] }}"><i class="fa fa-fw fa-stack-overflow"></i>Stack Overflow</a></li>
    </ul>
</section>
<section id="navigate">
    <h1>Navigate</h1>
    <h2>Read</h2>
    <ul>
        <li><a href="{{ SITEURL }}/archives.html">Everything</a></li>
        {% for category, _ in categories %}
        <li class="section-title"><a href="{{ SITEURL }}/{{ category.url }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Subscribe</h2>
    <ul class="inline">
        <li class="section-title">Everything</li>
        <li><a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}"><i class="fa fa-rss"></i>Feed</a></li>
        <li><a href="{{ BROADCAST['all'] }}"><i class="fa fa-bolt"></i>Broadcast</a></li>
    </ul>
{% for category, _ in categories %}
    <ul class="inline">
        <li class="section-title">{{ category.name }}</li>
        <li><a href="{{ SITEURL }}/feeds/{{ category }}.xml"><i class="fa fa-rss"></i>Feed</a></li>
        <li><a href="{{ BROADCAST[category] }}"><i class="fa fa-bolt"></i>Broadcast</a></li>
    </ul>
{% endfor %}
</section>
<section id="recent">
    <h1>Recent</h1>
{% for category, category_articles in categories %}
    {% set category_articles = category_articles[0:3] %}
    <h2 class="section-title">{{ category.name }}</h2>
    <ul>
    {% for category_article in category_articles %}
        <li><a href="{{ SITEURL }}/{{ category_article.url }}">{{ category_article.title }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
</section>
