<section id="contact">
    <h1>Contact</h1>
    <ul>
        <li><i class="fa fa-fw fa-adn"></i><a href="{{ IDENTITY['App.net'] }}">@chriskrycho</a></li>
        <li><i class="fa fa-fw fa-twitter-square"></i><a href="{{ IDENTITY['Twitter'] }}">@chriskrycho</a></li>
        <li><i class="fa fa-fw fa-facebook-square"></i><a href="{{ IDENTITY['Facebook'] }}">Facebook</a></li>
        <li><i class="fa fa-fw fa-github-square"></i><a href="{{ IDENTITY['GitHub'] }}">GitHub</a></li>
        <li><i class="fa fa-fw fa-bitbucket-square"></i><a href="{{ IDENTITY['Bitbucket'] }}">Bitbucket</a></li>
        <li><i class="fa fa-fw fa-stack-overflow"></i><a href="{{ IDENTITY['Stack Overflow'] }}">Stack Overflow</a></li>
    </ul>
</section>
<section id="sections">
    <h1>Sections</h1>
</section>
<section id="recent">
    <h1>Recent</h1>
</section>
