<!DOCTYPE html>
<html>
<head>
   <meta charset='utf-8' />
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <title>{{ config.title }}</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>

   <link rel='stylesheet' type='text/css' media='screen' href='/fonts.css'>
   <link rel='stylesheet' type='text/css' media='screen' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
   <link rel='stylesheet' type='text/css' media='screen' href='/style.css' />
</head>
<body>
   <header>
      <h1 class='Logo'>
         <a href='/'>
            <img src='/images/logo.png' alt='CK' class='Logo_image' />
            <span>Chris Krycho</span>
         </a>
      </h1>
   </header>

   <nav class='SiteNav'>
      <ul>
         <li><a href=''>Archives</a></li>
         <li><a href=''>C.V.</a></li>
         <li><a href=''>Contact</a></li>
      </ul>
      </nav>
   </header>

   <main>
      {% block main %}{% endblock main %}
   </main>

   <footer>
   </footer>

   {# load fonts #}
   <script src='/js/fontfaceobserver.standalone.js'></script>
   <script>
      Promise.all([
         new FontFaceObserver('Sabon'),
         new FontFaceObserver('Cronos')
      ]).then(() => document.documentElement.classList.add('fonts-loaded'))
   </script>

   {# <script src='main.js'></script> #}
</body>
</html>
