@font-face {
   font-family: Questa Grande;
   font-display: fallback;
   src: url('/assets/fonts/questa/grande/regular.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: Questa Grande;
   font-display: fallback;
   src: url('/assets/fonts/questa/grande/regular_italic.otf');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: Questa Grande;
   font-display: fallback;
   src: url('/assets/fonts/questa/grande/light.otf');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: Questa Grande;
   font-display: fallback;
   src: url('/assets/fonts/questa/grande/light_italic.otf');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: Questa Grande;
   font-display: fallback;
   src: url('/assets/fonts/questa/grande/medium.otf');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: Questa Grande;
   font-display: fallback;
   src: url('/assets/fonts/questa/grande/medium_italic.otf');
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: Questa Grande;
   font-display: fallback;
   src: url('/assets/fonts/questa/grande/bold.otf');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: Questa Grande;
   font-display: fallback;
   src: url('/assets/fonts/questa/grande/bold_italic.otf');
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: Questa Grande;
   font-display: fallback;
   src: url('/assets/fonts/questa/grande/black.otf');
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: Questa Grande;
   font-display: fallback;
   src: url('/assets/fonts/questa/grande/black_italic.otf');
   font-weight: 900;
   font-style: italic;
}
