@font-face {
   font-family: Questa Slab;
   font-display: fallback;
   src: url('/assets/fonts/questa/slab/regular.otf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: Questa Slab;
   font-display: fallback;
   src: url('/assets/fonts/questa/slab/regular_italic.otf');
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: Questa Slab;
   font-display: fallback;
   src: url('/assets/fonts/questa/slab/light.otf');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: Questa Slab;
   font-display: fallback;
   src: url('/assets/fonts/questa/slab/light_italic.otf');
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: Questa Slab;
   font-display: fallback;
   src: url('/assets/fonts/questa/slab/medium.otf');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: Questa Slab;
   font-display: fallback;
   src: url('/assets/fonts/questa/slab/medium_italic.otf');
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: Questa Slab;
   font-display: fallback;
   src: url('/assets/fonts/questa/slab/bold.otf');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: Questa Slab;
   font-display: fallback;
   src: url('/assets/fonts/questa/slab/bold_italic.otf');
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: Questa Slab;
   font-display: fallback;
   src: url('/assets/fonts/questa/slab/black.otf');
   font-weight: 900;
   font-style: normal;
}

@font-face {
   font-family: Questa Slab;
   font-display: fallback;
   src: url('/assets/fonts/questa/slab/black_italic.otf');
   font-weight: 900;
   font-style: italic;
}
