<!DOCTYPE html>
<html lang="en">
<head>
   <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
   <meta name="description" content="" />

   <meta charset="UTF-8"/>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

   {# Authorship #}
   {% include "identity/app.net.html" %}
   {% include "identity/opengraph.html" %}
   {% include "identity/google.html" %}
   {% include "identity/twitter.html" %}

   {# CSS #}
   <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{ CSS_FILE }}" />

</head>
<body>
   <header>
      <hgroup>
         <h1 id="site-title">{{ SITENAME }}</h1>
         <h2 id="site-subtitle">{{ SITE_DESCRIPTION }}</h2>
      </hgroup>

      <nav>
         <ul>
         {% for category, _ in categories %}
            <li>{{ category }}</li>
         {% endfor %}
         </ul>
      </nav>
   </header>

   {% block content %}{% endblock %}
   <footer>{% include "includes/footer.html" %}</footer>
</body>
</html>
