<!DOCTYPE html>
<html>
<head>
   <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
   <meta name="description" content="" />

   <meta charset="UTF-8"/>
   <meta lang="{{ DEFAULT_LANG }}"

   {# Mobile device viewport settings #}
   <meta name='viewport' content='width=device-width,initial-scale=1.0,user-scalable=no' />

   {# Authorship #}
   {% include "identity/app.net.html" %}
   {% include "identity/facebook.html" %}
   {% include "identity/google.html" %}
   {% include "identity/twitter.html" %}

   {# CSS #}
   <link rel="stylesheet" type="text/css" href=""

</head>
<body>

</body>
</html>
