{%- extends '_layouts/base.html' -%}
{%- block main -%}

<main class='Index'>
   <article class='Bio'>
      {%- if config.extra.headshot -%}
         <img src='{{config.extra.headshot}}' alt='Headshot of Chris' />
      {%- endif -%}
      <div class='Bio_text'>
         {{section.content | safe}}
      </div>
   </article>

   {%- if section.extra is defined and section.extra.now is defined -%}
   <hr class='home-page-divider'>
   <article class='Now'>
      <h2>Now</h2>
      <p class='subtitle'>What I'm currently up to.</p>
      {{section.extra.now | markdown}}
   </article>
   {%- endif -%}
</main>
{%- endblock main -%}
