{% extends "base.html" %}

{% block content %}
    {% if articles %}
        {% for article in articles %}
            {% set item = article %}
            <article class="archive">
                <header>
                    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                    {% if item.subtitle is defined %}<h2>{{ item.subtitle }}</h2>{% endif %}
                </header>
                <div class="meta">{% include "includes/meta.html" %}</div>
            </article>
        {% endfor %}
    {% else %}
        {% include "includes/404-content.html" %}
    {% endif %}
{% endblock %}
