{% extends "base.html" %}

{% block content %}
   {% block article_el %}
   <article {% if article.category == 'tech' or article.code == True %}class="code"{% endif %}>
   {% endblock article_el %}
      <header>
         <h1>{{ article.title }}</h1>
      </header>

      {% include "includes/meta.html" %}

      {% block context %}{% endblock %}

      {% if article.intro is defined %}
         {% block intro %}<p class="intro">{{ article.intro }}</p>{% endblock %}
      {% endif %}

      <div class="content">
         {% if article.epigraph is defined %}<div class="epigraph">{{ article.epigraph }}</div>{% endif %}
         {{ article.content }}
      </div>
   </article>

{% endblock %}

