<!DOCTYPE html>
<html lang="en">
<head>
   <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
   <meta name="description" content="" />

   <meta charset="UTF-8"/>
   <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

   {# Authorship #}
   {% if page is defined %}
      {% set item = page %}
   {% elif article is defined %}
      {% set item = article %}
   {% else %}
      {% set item = None %}
   {% endif %}
   {% include "identity/app.net.html" %}
   {% include "identity/opengraph.html" %}
   {% include "identity/google.html" %}
   {% include "identity/twitter.html" %}

   {# CSS #}
   <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{ CSS_FILE }}" />

</head>
<body>
   <header>
      <hgroup id="site-header">
         <h1 id="site-title">
            {% if output_file != "index.html" %}<a href="{{ SITEURL }}">{{ SITENAME }}</a>
            {% else %}{{ SITENAME }}
            {% endif %}</h1>
         <h2 id="site-subtitle">{{ SITE_DESCRIPTION_HTML }}</h2>
      </hgroup>

      <nav>
         <ul>
         {% for category, _ in categories %}
            <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
         {% endfor %}
         </ul>
      </nav>

      {% block section_head %}{% endblock %}
   </header>

   {% block content %}{% endblock %}

   <footer id="site-footer">{% include "includes/footer.html" %}</footer>
</body>
</html>
