---
eleventyExcludeFromCollections: true
---

{% extends 'base.njk' %}
{% import 'components/item.njk' as item %}
{% import 'components/archive-list.njk' as archive %}

{%- block main -%}
<section class='item'>
{{item.header(type='page', title=title, subtitle=subtitle)}}

{% set c = page.inputPath | toCollection %}
{%- if collections[c] and collections[c].length -%}
   {{ archive.list(collections[c] | reverse) }}
{%- else -%}
   {%- include 'blocks/wip.njk' -%}
{%- endif -%}
</div>
{%- endblock main -%}
