---
eleventyExcludeFromCollections: true
---

{%- extends '_page.njk' -%}
{%- import 'macros/item.njk' as item -%}

{%- block content -%}
{% set c = page.inputPath | toCollection %}
{%- if collections[c] and collections[c].length -%}
   <ul class='archive'>
   {%- for month in collections[c] %}
      <li class='month'>
         <h3>{{month.name}}</h3>
      {%- for item in month.items %}
         <ul class='month-items'>
            <li class='month-item'>
               <a href='{{item.url}}'>{{item.data.title | safe}}</a>
               <span class='subtitle'>{{item.data.subtitle | safe}}</span>
            </li>
         </ul>
      {% endfor -%}
      </li>
   {%- endfor -%}
   </ul>
{%- else -%}
   {%- include 'blocks/wip.njk' -%}
{%- endif -%}
{%- endblock content -%}
