---
standalonePage: true
---

{% extends 'base.njk' %}
{% import 'components/item.njk' as item %}
{% from 'components/archive-list.njk' import list %}
{% from 'components/social.njk' import meta %}

{%- block main -%}
<article class='content-block post'>
   {% block header -%}{%- endblock header %}
   {% block before_content %}{% endblock before_content %}
   <div class='article-content'>
      {% block content -%}{{content | safe}}{%- endblock content %}
   </div>
   {% block after_content %}{% endblock after_content %}
</article>

<section class='content-block'>
   <div class='latest-list'>
      <div class='latest-heading'>
         <h2 class='latest-title heading'>The Latest</h2>
      </div>
      <ul class='latest-entries'>
         {% for item in collections.latest -%}
         <li class='latest-entry'>
            <h3 class='entry-collection heading'>
               {%- set collection = item.inputPath | toCollection -%}
               <a href="/{{collection}}/">{{collection | upper}}</a>
            </h3>
            <article class='entry-content'>
               <h4 class='entry-title'>
                  {% set formattedDate -%}
                     {%- localeDate item.date, 'MMMM d, yyyy' -%}
                  {%- endset %}
                  <a href='{{item.url}}' class='entry-permalink' title='item permalink'>
                  {%- if item.data.title -%}
                     <span class='entry-title__text'>
                        {{-item.data.title | inlineMd | safe-}}
                     </span>
                  {%- else -%}
                     <span class='date entry-title__date'>{{formattedDate}}</span> ⚓︎
                  {%- endif -%}
                  </a>
                  {%- if item.data.title %}
                  ({{-formattedDate-}})
                  {% endif -%}
               </h4>

               {% if item.data.subtitle -%}
               <p class='entry-subtitle'>{{item.data.subtitle | inlineMd | safe}}</p>
               {%- endif %}

               {%- if not item.data.title %}
               <section class='entry-content article-content'>
                  {{item.templateContent | safe}}
               </section>
               {% endif -%}
            </article>
         </li>
         {%- endfor %}
      </ul>
   </div>
</section>
{%- endblock main -%}
