---
standalonePage: true
---

{% extends 'base.njk' %}
{% import 'components/item.njk' as item %}
{% from 'components/archive-list.njk' import list %}
{% from 'components/social.njk' import meta %}

{%- block main -%}
<article class='content-block post'>
   {% block header -%}{%- endblock header %}
   {% block before_content %}{% endblock before_content %}
   <div class='article-content'>
      {% block content -%}{{content | safe}}{%- endblock content %}
   </div>
   {% block after_content %}{% endblock after_content %}
</article>

<section class='content-block'>
   {# NOTE: bad reuse of classes and layout, but works for a start point! #}
   <ul class='archive-list'>
      <li class='year'>
         <div class='year-info'>
            <h2 class='year-title date'>The Latest</h2>
         </div>
         <ul class='year-items'>
            <li class='month'>
               <h3 class='month-title date'>
                  <i>in</i>
               </h3>
               <ul class='month-items'>
                  {% for item in collections.latest -%}
                     <li class='day'>
                        <h4 class='day-title date'>
                           {%- set collection = item.inputPath | toCollection -%}
                           <a href="/{{collection}}/">{{collection | upper}}</a>
                        </h4>
                        <ul class='day-items'>
                           <li class='item'>
                              <h5 class='item-title'>
                                 {% set formattedDate %}
                                 {% localeDate item.date, 'MMMM d, yyyy' %}
                                 {% endset %}
                                 <a href='{{item.url}}' class='item-permalink' title='item permalink'>
                                 {%- if item.data.title -%}
                                    <span class='item-title__text'>
                                       {{-item.data.title | inlineMd | safe-}}
                                    </span>
                                 {%- else -%}
                                    <span class='date item-title__date'>{{formattedDate}}</span> ⚓︎
                                 {%- endif -%}
                                 </a>
                                 {%- if item.data.title -%}
                                 ({{-formattedDate-}})
                                 {%- endif -%}
                              </h5>
                              {% if item.data.subtitle -%}
                              <p class='item-subtitle'>{{item.data.subtitle | inlineMd | safe}}</h2>
                              {%- endif %}
                              {%- if not item.data.title %}
                              <article class='item-content article-content'>
                                 {{item.templateContent | safe}}
                              </article>
                              {% endif -%}
                           </li>
                        </ul>
                     </li>
                  {%- endfor %}
               </ul>
            </li>
         </ul>
      </li>
   </ul>
</section>
{%- endblock main -%}
