{% extends 'base.njk' %}
{% from 'components/index-list.njk' import list %}

{%- block main -%}
<article class='content-block post'>
   {% block header -%}{%- endblock header %}
   {% block before_content %}{% endblock before_content %}
   <div class='article-content'>
      {% block content -%}{{content | safe}}{%- endblock content %}
   </div>
   {% block after_content %}{% endblock after_content %}
</article>

{{list(collections.featured, title="Featured")}}
{{list(collections.latest, "The Latest")}}
{% if collections.drafts and collections.drafts.length > 0 %}
   {{list(collections.drafts, title="In Progress", includeUpdated=true)}}
{% endif %}
{{list(collections.updated, title="Updated Recently", includeUpdated=true)}}
{%- endblock main -%}
