---
eleventyExcludeFromCollections: true
---

{% extends 'base.njk' %}
{% import 'components/item.njk' as item %}
{% from 'components/archive-list.njk' import listInline %}

{%- block main -%}
<section class='content-block'>
{{item.header(type='archive', title=title, subtitle=subtitle, subscribe=subscribe)}}

{% set c = page.inputPath | toCollection %}
{%- if collections[c] and collections[c].length -%}
   {{ listInline(collections[c] | archiveByYears('NEW_FIRST')) }}
{%- else -%}
   {%- include 'blocks/soon.njk' -%}
{%- endif -%}
</section>
{%- endblock main -%}
