{% extends 'item.njk' %}
{% import 'macros/item.njk' as item %}

{% block header %}
{{item.header(type='post', title=title, subtitle=subtitle)}}
{% endblock header %}

{% block before_content -%}
   {% if assumed_audience -%}
      <i class='assumed-audience'>
         <b><a href='https://www.chriskrycho.com/2018/assumed-audiences.html'>Assumed Audience</a>:</b>
         {{page.assumed_audience}}
      </i>
   {%- endif %}
{%- endblock %}
