{% extends 'base.njk' %}
{% import 'components/item.njk' as item %}

{%- block main -%}
<section class='content-block'>

{{item.header(type='page', title=title, subtitle=subtitle)}}

<ul class="tag-list">
{%- for tag in collections.tags -%}
   <li class="tag-list__tag">
      <a href="/topics/{{tag | slug}}">{{tag}}</a>
   </li>
{%- endfor -%}
</ul>

{%- endblock main -%}
