---
title: Appearances
permalink: /appearances/feed.xml
eleventyExcludeFromCollections: true
---

{%- import 'components/atom.njk' as atom -%}

{%- extends 'feed.njk' -%}

{%- block entries -%}
   {# TODO: uncomment when adding first appearance #}
   {# {{atom.entries(collections.appearances, config)}} #}
{%- endblock -%}