---
title: Essays
permalink: /essays/feed.xml
eleventyExcludeFromCollections: true
---

{%- import 'components/atom.njk' as atom -%}

{%- extends 'feed.njk' -%}

{%- block entries -%}
   {{atom.entries(collections.essays)}}
{%- endblock -%}