/**
 * Modular scale:
 *    http://modularscale.com/scale/?px1=20&px2=40&ra1=1.6&ra2=1.2&name=minorsixthminorthird
 *
 * Base text size: 20px @ 5:8 (minor sixth)
 * Important number: 40px @ 5:6 (minor third)
 *
 * Font sizes given in terms of headings/paragraph (fs1 => h1, fsp => p)
 * The commented sizes are at the base scale.
 *
 * Note that the ratios are the important bit; the base text size can be adjusted
 * at whim and the ratios will rremain fixed---only the calculated px values will
 * change.
 */
$fs_very_large: 3.456em;    // 69px
$fs_large: 2.88em;          //58px

$fs1: 2.4em;    // 48px
$fs2: 2em;      // 40px
$fs3: 1.667em;  // 33px
$fs4: 1.389em;  // 28px
$fs5: 1.157em;  // 23px
$fsp: 1em;      // 20px
$fs6: 0.965em;  // 19px

$fs_small: 0.804em;         // 16px
$fs_very_small: 0.625em;    // 12px

$line_height: 1.667;
$line_height_small: 1.389;
$line_height_min: 1;

// Absolute
$fs1_abs: 2.4rem;   // 48px
$fs2_abs: 2rem;     // 40px
$fs3_abs: 1.667rem; // 33px
$fs4_abs: 1.389rem; // 28px
$fs5_abs: 1.157rem; // 23px
$fsp_abs: 1rem;     // 20px
$fs6_abs: 0.965rem; // 19px

$fs_small_abs: 0.804rem;        // 16px
$fs_very_small_abs: 0.625rem;   // 12px

/* Color schreme:
 *    //www.colourlovers.com/palette/1875001/The_First_Scarf
 *
 * Colors:
 *    Dark gray:  #20282A (more than the ocean)
 *    Light gray: #6C7487 (terminal blue gray)
 *    White:      #FFFFFF (white)
 *    Light blue: #5592C9 (Scarf Stripe)
 *    Dark blue:  #01295C (Dark Wash Jeans)
*/
$dark_gray: #20282A;
$light_gray: #6C7487;
$white: #FEFEFE;
// not quite white.
$light_blue: #5592C9;
$dark_blue: #01295C;

/* Font families
 *
 * Font kits hosted locally and served by Fonts.com.
 */
$serif: 'gentium_plus', 'Minion Pro', Times, 'Times New Roman', serif;
$sans: 'Cronos Pro', 'Century Gothic', Trebuchet, sans;
