@import "base";
@import "mixins";

@media only screen and (max-width: 900px) {
    #site-header {
        hgroup {
            @include flex(1 0 100%);
        }

        nav {
            @include flex(1 0 100%);
            text-align: center;
            padding: {
                top: 0.465rem;
                bottom: 0.244rem;
            }
            border: {
                top: 1px solid lighten($light_gray, 39.1%);
                bottom: 1px solid lighten($light_gray, 39.1%);
            }
            margin: {
                left: 0;
                right: 0;
            }
        }
    }

    article {
        margin: {
            left: auto;
            right: auto;
        }

        &.archive {
            width: 30.814rem;
        }
    }
}

@media only screen and (max-width: 680px), only screen and (max-height: 680px) {
    html {
        font-size: 16px;
        line-height: $line_height_small;
    }

    body {
        line-height: $line_height_small;
    }
}

@media only screen and (max-width: 680px) {
    header {
        text-align: center;
    }

    #site-header {
        padding-bottom: $fs3;

        hgroup {
            margin: {
                left: 0;
                right: 0;
            }
        }

        #site-subtitle {
            margin: {
                left: 0;
                right: 0;
            }
        }

        h3 {
            padding: {
                left: 0;
                top: $fs4;
                bottom: 0;
            }
            border: none;
        }
    }

    article, article.archive {
        max-width: 26.844rem;
        width: auto;
        padding: {
            left: $fsp;
            right: $fsp;
            bottom: $fsp;
        }

        header, .meta {
            text-align: center;
        }
    }

    #site-footer {
        section {
            @include flex(1 0 100%);
        }

        h1 {
            padding-left: 0;
        }
    }
}
