@import "base";
@import "mixins";

@media only screen and (max-width: 900px) {
    #site-header {
        hgroup {
            @include flex(1 100%);
        }

        nav {
            @include flex(1 0 100%);
            text-align: left;
            background: $dark_blue;
            padding: {
                top: 0.465rem;
                bottom: 0.391rem;
            }
            border: {
                top: 1px solid lighten($light_gray, 39.1%);
                bottom: 1px solid lighten($light_gray, 39.1%);
            }
            margin: {
                top: $fs3;
                left: 0;
                right: 0;
            }

            ul {
                margin: {
                    left: auto;
                    right: auto;
                }
                width: 30.814rem;
            }

            a:hover {
                color: $white;
                border: none;
            }
        }

        #section-head {
            padding-left: 0;
            h3 {
                width: 30.814rem;
                margin: {
                    left: auto;
                    right: auto;
                }

            }
        }
    }

    article {
        margin: {
            left: auto;
            right: auto;
        }

        &.archive {
            width: 30.814rem;
        }
    }
}

@media only screen and (max-width: 900px) and (min-width: 680px) {
    #site-footer ul.inline {
        padding-bottom: $fs_very_small;
        li.section-title {
            display: block;
            width: auto;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 680px) and (min-width: 520px) {
    #site-footer ul.inline li.section-title {
        width: 15.3%;
    }
}

@media only screen and (max-width: 680px), only screen and (max-height: 480px) {
    html {
        font-size: 16px;
        line-height: $line_height_small;
    }

    body {
        line-height: $line_height_small;
    }

    hr {
        margin: {
            top: $fsp;
            bottom: $fsp;
        }
        width: 38.8%;
    }

    article {
        padding-bottom: $fs3;

        &.archive .meta {
            padding-bottom: 0;
        }
    }
}

@media only screen and (max-width: 680px) {
    header {
        text-align: center;
    }

    #site-header {
        padding-bottom: $fs3;

        hgroup {
            margin: {
                left: 0;
                right: 0;
            }
        }

        #site-subtitle {
            margin: {
                left: 0;
                right: 0;
            }
        }

        nav {
            text-align: center;
            width: auto;

            ul {
                width: auto;
            }
        }

        #section-head {
            text-align: center;
            width: auto;
            padding: {
                left: 0;
                top: $fs4;
                bottom: 0;
            }

            h3 {
                width: auto;
            }
        }
    }

    article, article.archive {
        max-width: 26.844rem;
        width: auto;
        padding: {
            left: $fsp;
            right: $fsp;
            bottom: $fsp;
        }

        header, .meta {
            text-align: center;
        }
    }

    #site-footer {
        section {
            @include flex(1 0 100%);
        }

        h1 {
            padding-left: 0;
        }

    }
}

@media only screen and (max-width: 520px) {
    #site-footer ul.inline li.section-title {
        width: 22.4%;
    }
}
