@mixin transition($values...) {
    -webkit-transition: $values;
    -moz-transition: $values;
    -ms-transition: $values;
    -o-transition: $values;
    transition: $values;
}

@mixin transform($values) {
    -webkit-transform: $values;
    -moz-transform: $values;
    -ms-transform: $values;
    -o-transform: $values;
    transform: $values;
}

@mixin font-feature-settings($values...) {
    -webkit-font-feature-settings: $values;
    -moz-font-feature-settings: $values;
    -ms-font-feature-settings: $values;
    -o-font-feature-settings: $values;
    font-feature-settings: $values;
}

@mixin hyphens($values...) {
    -webkit-hyphens: $values;
    -moz-hyphens: $values;
    -ms-hyphens: $values;
    -o-hyphens: $values;
    hyphens: $values;
}

// Flex box
@mixin align-content($values) {
    -webkit-align-content: $values;
    -moz-align-content: $values;
    -ms-align-content: $values;
    align-content: $values;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin flex-flow($values) {
    -webkit-flex-flow: $values;
    -moz-flex-flow: $values;
    -ms-flex-flow: $values;
    flex-flow: $values;
}

@mixin justify-content($values) {
    -webkit-justify-content: $values;
    -moz-justify-content: $values;
    -ms-justify-content: $values;
    justify-content: $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

// Bezier curves
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
