@import "mixins";
@import "reset";
@import "fonts";
@import "fontawesome";
@import "base";
@import "highlight_js_tomorrow";

// General default styles
html {
    font-size: 125%; /* -> 20px, using percentage to allow IE user stylesheet changes */
    font-family: $serif;
    color: $dark_gray;
    background: $dark_blue;
    line-height: $line_height;
}

body {
    line-height: $line_height;
    background: $white;
}

a, a:visited {
    color: $light_blue;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    @include transition(border 0.224s $easeInOutCubic, color 0.224s $easeInOutCubic);

    &:hover, &:active {
        color: $dark_blue;
        border-bottom: 1px solid $dark_gray;

        @include transition(border 0.465s $easeInOutCubic, color 0.465s $easeInOutCubic);
    }
}

img {
    max-height: 100%;
    max-width: 100%;
}

p, ul, ol, li {
    font-size: $fsp;
}

blockquote {
    font: {
        size: $fs6;
        style: italic;
    }
    ;
    line-height: $line_height_small;
    padding: {
        top: $fsp;
        bottom: $fsp;
        left: $fs1;
        right: $fs1;
    }

}

// Paragraph styles
p {
    text-indent: $fs4;
}

h1, h2, h3, h4, h5, h6, ul, ol, blockquote {
    + p {
        text-indent: 0;
    }
}

p:first-child, p:first-of-type {
    text-indent: 0;
}

ul {
    list-style: none;

    // Fix for the fact that circles look *terrible* in Gentium
    li:before {
        display: inline-block;
        content: '\25E6'; // white bullet
        margin-left: -0.804em;
        padding-right: 0.465em;
    }
}

ol {
    list-style: decimal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
    line-height: 1;
}

h1 {
    font-size: $fs1;
}

h2 {
    font-size: $fs2;

    + h3 {
        padding-top: 0;
    }
}

h3 {
    font: {
        size: $fs3;
        weight: bold;
    }
    ;
    color: $light_gray;
    border-bottom: 1px solid lighten($light_gray, 39.1%);
    padding: {
        top: 1em;
        bottom: 0.108em;
    }
    ;

    + h4 {
        padding-top: 0.244em;
    }
}

h4 {
    font: {
        size: $fs4;
        weight: bold;
    }
    ;
    padding-top: 1em;

    + h5 {
        padding-top: 0.244em;
    }
}

h5 {
    padding-top: $fsp;
    font: {
        style: italic;
        size: $fs5
    }
    ;

    + h6 {
        padding-top: 0;
    }
}

h6 {
    font: {
        weight: 600;
        size: $fs6;
    }

    display: inline-block;
    padding: {
        top: $fs3;
        right: $fs_very_small;
    }
    ;

    + p {
        display: inline;
    }
}

pre {
    white-space: pre-wrap;
}

sup {
    line-height: 0; // Fixes vertical alignment issues
    vertical-align: 0.558em;
    font-size: $fs_smaller;
}

em, i, cite {
    font-style: italic;
}

strong {
    font-weight: bold;
}

hr {
    margin: {
        top: $fs3;
        bottom: $fs3;
    }
    border-top: 1px solid;
    height: 0;
    width: 46.5%;

}

// Special styles
.proper-name {
    white-space: nowrap;
}

.poetry {
    white-space: pre-line;
}

.smcp {
    font-family: 'gentium_plus_smcp';
}

.epigraph {
    text-align: center;
    font: {
        family: $sans;
        size: $fs5;
    }
    line-height: $line_height_small;
    padding-bottom: $fs6;
}

.greek {
    font-family: $serif;
    font-weight: normal;
}

.lbsBibleRef, .rtBibleRef {
    white-space: nowrap;
}

// ----- Layout -----
body {
    border-top: $fs_very_small solid $dark_blue;
}

// Header
#site-header {
    @include flexbox();
    @include flex-flow(row wrap);
    @include justify-content(space-around);
    padding-bottom: $fs1_abs;

    nav {
        @include flex(1 0 300px);
        text-align: right;
        margin: {
            right: $fsp;
            top: $fs_large;
        }
        font: {
            family: $sans;
            size: $fs5;
        }

        ul {
            list-style-type: none;

            li {
                display: inline-block;
                padding: {
                    left: 0.224em;
                    right: 0.224em;
                }

                &:before {
                    content: none;
                }
            }
        }
    }

    hgroup {
        @include flex(1 0 500px);

        margin: {
            top: $fsp;
            left: $fs_large;
        }

        a, a:hover, a:active, a:visited {
            border-bottom: none;
        }
    }

    #site-title {
        font-size: $fs_very_large;
        display: block;
    }

    #site-subtitle {
        margin-left: $fs4;
        display: block;
        font: {
            family: $serif;
            style: italic;
            size: $fs4;
        }
        @include font-feature-settings('liga');
    }

    #section-head {
        @include flex(0 100%);
        border-bottom: 1px solid lighten($light_gray, 39.1%);
        padding: {
            top: $fs1_abs;
            left: 15.3%;
        }

        i {
            font-style: italic;
        }

        h3 {
            padding-top: 0;
            border: none;
        }
    }
}

.logotype {
    height: $fs3;
    width: $fs3;
    vertical-align: -50%;
    padding-right: 0.323rem;
}

.section-title {
    text-transform: capitalize;
}

// Article
article {
    padding-bottom: $fs2;
    clear: both;
    overflow: hidden;
    width: 30.814rem;
    margin: {
        left: 15.3%;
        right: 15.3%;
    }

    header {
        h1 {
            font-weight: 600;
        }

        h2 {
            font-size: $fs4;
            padding: {
                top: 0.465rem;
                bottom: 0.465rem;
            }

            &:after, &:before {
                content: "\2014";
            }
        }
    }

    @mixin pre-content-p {
        padding-bottom: $fsp;
        text-indent: 0;
        line-height: $line_height_small;
    }

    .context {
        font-style: italic;
        padding-bottom: $fsp;
        @include pre-content-p();

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    .intro {
        font-size: $fs4;
        text-align: center;
        @include pre-content-p();
    }

    .content {

        @mixin first-line() {
            font-family: 'gentium_plus_smcp';
            @include font-feature-settings('smcp');
        }

        > p:first-of-type {
            &:first-line {
                @include first-line();
            }
        }

        h1 {
            padding-top: $fsp;
            padding-bottom: 0.323em;
            text-align: center;

            &:before {
                content: '\00A7';
                display: inline-block;
                padding-right: 0.244em;
                color: lighten($light_gray, 39.1%);
            }

            &:first-child {
                padding-top: 0.244em;

                &:before {
                    content: none;
                }
            }

            + p:first-line, + h2 + p:first-line {
                @include first-line();
            }

            + h2 {
                padding-top: 0;
            }
        }

        h2 {
            color: $dark_blue;
            text-align: center;
            font-weight: bold;
            padding-top: $fsp;
            margin-bottom: 0.323em;
        }

        p {
            @include hyphens(auto);

            &:first-of-type:first-line {
                @include hyphens(none);
            }
        }
    }

    .meta {
        color: $light_gray;
        padding-bottom: $fsp_abs;
        font: {
            size: $fs_small;
            family: $sans;
        }

        span {
            display: inline-block;

            a {
                display: inline-block;
            }

            &:before {
                display: inline-block;
                padding: {
                    left: 0.25rem;
                    right: 0.25rem;
                }
                content: '\00A7';
                color: lighten($light_gray, 24.4%);
            }

            &:first-of-type:before {
                content: none;
            }
        }

        .hashtag a {
            margin: {
                left: 0.13em;
                right: 0.13em
            }
            ;
            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    p {
        @include font-feature-settings('liga', 'onum', 'pnum', 'kern');
    }

    ul, ol {
        margin-left: $fs4;
        padding-top: $fsp;
        padding-bottom: $fsp;
    }

    .footnote {
        padding-top: 0.5rem;
        font-size: $fs_small;

        hr {
            @extend hr;
            margin-left: 0;
        }
    }

    &.archive {
        width: auto;
        header h1 {
            font-weight: 400;
        }
    }

    &.code {
        code {
            font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
            background: #efefef;
            border-radius: 0.244em;
            border: 1px solid lighten($light_gray, 39.1%);
            margin: $fsp 0;
            overflow: scroll;
        }

        code {
            padding: 0 0.269em;
            font-size: $fs_small;
        }

        pre code {
            padding: 0.558em;
            font-size: $fs_very_small;
            white-space: pre;
        }
    }
}

sup[id^="fnref:"] a {
    @include font-feature-settings('lnum', 'tnum');

    &:before {
        content: "[";
    }

    &:after {
        content: "]";
    }
}

// Footer
#site-footer {
    margin-top: $fs_large;
    background-color: $dark_blue;
    min-height: $fs_very_large;
    color: $white;
    @include flexbox();
    @include flex-flow(row wrap);

    a:hover {
        color: $white;
    }

    section {
        border-top: 0.244rem solid $dark_gray;
        margin-bottom: $fsp;

        @include flex(1 0);
    }

    h1 {
        background: $light_blue;
        font-size: $fs2;
        text-align: center;
        padding: {
            top: 0.224em;
            bottom: 0.153em;
        }
        margin-bottom: 0.465em;
    }

    ul {
        padding: {
            left: $fsp;
            right: $fsp;
        }
        li:before {
            content: '\2022';
        }

        &.social {
            li:before {
                display: none;
                content: none;
                margin-left: 0;
                padding-right: 0;
            }
        }
    }
}

@import "media";
