a {
   color: var(--link);
   transition: color var(--transition);

   &:hover,
   &:active {
      color: var(--hover);
   }
}

abbr {
   font-family: var(--serif-smcp);
   text-transform: lowercase;
   letter-spacing: 0.2pt;
}

:root {
   --divider: hsl(222, 10%, 70%);

   --hr-width: 3rem;
}

// Defines the *shape* of an `hr`. Does *not* define its layout, which needs to be set
// appropriately in the contexts where it is used, e.g. by centering in the nav or by
// *visually* centering in body text on large widths.
hr {
   height: 1.25rem;
   width: var(--hr-width);
   padding: 0;
   margin: 1.75rem 0 0.5rem;
   border: 0;
   border-top: 1px solid var(--divider);
   position: relative;
   overflow: visible;

   @include slash();
}

em {
   font-style: italic;

   em {
      text-decoration: underline;
   }
}

strong {
   font-weight: bold;

   strong {
      text-decoration: underline;
   }
}

b {
   font-weight: bold;
}

i { 
   font-style: italic;

   em {
      font-style: normal;
   }
}

h1, h2, h3, h4, h5, h6 {
   line-height: 1;
}
