:root {
   --double-margin: 0.5em;
   --single-margin: 0.2em;
}

.pull-double {
   margin-left: calc(-1 * var(--double-margin));
}

.push-double {
   margin-left: var(--double-margin);
}

.pull-single {
   margin-left: calc(-1 * var(--single-margin));
}

.push-single {
   margin-left: var(--single-margin);
}
